		<script>
			$.ajax({
				type: 'post',
				url: '/api/pageRecoder',
				data: JSON.stringify({
					pagePath: location.href,
					pageContent: ''
				}),
				contentType: 'application/json'
			})

			var separator = '315699319005';
			var sourceAry = [];

			$('.need-translate').each(function(index, ele){
				var source = $(ele).text().trim();
				sourceAry.push(source)
			})

			$.ajax({
				type: 'get',
				url: '/api/translate',
				data: {
					to: 'zh',
					source: sourceAry.join(separator)
				},
				contentType: 'text/plain',
				success: function(translation){
					var translation = translation.split(separator);
					// console.log(translation)

					$('.need-translate').each(function(index, ele){
						$(ele).text(translation[index]);
					})
				}
			})
		</script>

		<script>
			(function(){
				var bp = document.createElement('script');
				var curProtocol = window.location.protocol.split(':')[0];
				if (curProtocol === 'https') {
					bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
				}
				else {
					bp.src = 'http://push.zhanzhang.baidu.com/push.js';
				}
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(bp, s);
			})();
		</script>
	</body>
</html>