		<script>
			translate();
			translate(true);

			function translate(standalone){
				var separator = '315699319005';
				var sourceAry = [];
				var doms = standalone? $('.need-translate.standalone'):
					$('.need-translate').not('.standalone');

				doms.css('opacity', 0).each(function(index, ele){
					var source = $(ele).text().trim();
					sourceAry.push(source)
				})

				if(!sourceAry.length)
					return;

				var data = {
					to: 'zh',
					source: sourceAry.join(separator)
				};

				if(standalone){
					data.separator = separator;
					data.isAlone = standalone;
				}

				$.ajax({
					type: 'post',
					url: '/api/translate',
					data: JSON.stringify(data),
					contentType: 'text/json',
					success: function(translation){
						var translation = translation.split(separator);
						// console.log(translation)

						doms.css('opacity', 1).each(function(index, ele){
							ele = $(ele);
							ele.text(translation[index]).attr('title', sourceAry[index])/* .after(
								'<em class="hidden">'+sourceAry[index]+'</em>'
							) */;

							// if(ele.is('a')){
							// 	ele.attr('title', sourceAry[index])
							// }
						})

						pageRecord();
					},
					error: function(xhr, type){
						console.error('Ajax error!')
						pageRecord();
					}
				})
			}

			function pageRecord(){
				$.ajax({
					type: 'get',
					url: '/api/isMapper',
					contentType: 'application/json',
					success: function(isMapper){
						if(Number(isMapper)){
							$.ajax({
								type: 'post',
								url: '/api/pageRecoder',
								data: JSON.stringify({
									pagePath: location.href,
									pageContent: $('html')[0].outerHTML
								}),
								contentType: 'application/json'
							})
						}
					}
				})
			}
		</script>

		<script>
			(function(){
				var bp = document.createElement('script');
				var curProtocol = window.location.protocol.split(':')[0];
				if (curProtocol === 'https') {
					bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
				}
				else {
					bp.src = 'http://push.zhanzhang.baidu.com/push.js';
				}
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(bp, s);
			})();
		</script>
	</body>
</html>