<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="网球,球员,ATP,WTA" />
		<meta name="description" content="ATP/WTA网球明星资料" />
		<meta name="author" content="CY">
		<meta name="copyright" content="CY">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title><%= title %></title>
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/common.css">
		<link rel="stylesheet" href="/css/sport.css">
		<link rel="stylesheet" href="/css/tennis.css">

		<link rel="shortcut icon" href="/img/logo.png">
		<link rel="apple-touch-icon" href="/img/logo.png"/>
	</head>

	<body>