/* reset */
body,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  word-break: break-all;
}
canvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
}
em {
  font-style: normal;
}
img {
  border-width: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clr {
  clear: both;
}
.ovh {
  overflow: hidden !important;
}
.ovv {
  overflow: visible !important;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.hidden {
  display: none;
}
.nodec {
  text-decoration: none;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.no-text-decoration {
  text-decoration: none;
}
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-cnt {
  text-align: center;
}
.block-list {
  overflow: hidden;
}
.block-list li {
  display: inline-grid;
  margin: 0 4px 0px 0;
  max-width: 210px;
  overflow: hidden;
}
.block-list a {
  text-decoration: none;
}
.block-list .block-info {
  margin: 0 0 1rem 0;
}
.el-dialog {
  width: 500px;
}
.el-form-item__content {
  margin-left: 100px;
}
.update-time:before {
  content: '• ';
}
.el-form-item {
  margin-bottom: 20px;
}
#player-wrapper,
.player-wrapper {
  display: inline-block;
  position: relative;
  max-width: 800px;
}
#player-wrapper:hover .subtitle,
.player-wrapper:hover .subtitle {
  display: none;
}
#player-wrapper .subtitle,
.player-wrapper .subtitle {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #eee;
  text-shadow: 2px 2px 2px #413b3b;
  pointer-events: none;
}
.fullscreen {
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
}
.fullscreen-mask {
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
  z-index: 100;
  background-color: #000;
}
.fixed-center {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  max-width: unset!important;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-above-img {
  color: #fff;
  padding: 2px 3px;
  text-shadow: 0px 0px 1rem #333;
}
.hori-list::after {
  content: '';
  display: block;
  clear: both;
}
.hori-list li {
  float: left;
  min-width: 1rem;
  min-height: 1rem;
}
.overlay-gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, transparent 45%, #000 130%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
  transition: background-color 0.3s ease-in;
}
.btn.btn-primary {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 43px;
  font-weight: bold;
  transition: all 0.3s ease-out;
  display: inline-block;
  padding: 0 10px;
  background-color: #21B43D;
  color: white;
  text-align: center;
  min-width: 100px;
  height: 40px;
  text-decoration: none;
}
.flag {
  min-width: 37px;
  min-height: 1px;
}
