/* reset */
body,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
div,
li {
  box-shadow: 0 0 1px #fc0404;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
}
em {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clr {
  clear: both;
}
.ovh {
  overflow: hidden;
}
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.text-cnt {
  text-align: center;
}
.block-list {
  overflow: hidden;
}
.block-list li {
  float: left;
  min-height: 100px;
  width: 210px;
  margin: 0 4px 24px 0;
}
.block-list a {
  text-decoration: none;
}
