@img-dir-path: '/img/';
@list-item-width: 210px;

html {
  font-size: 10px;
}

app{font-size: 14px;}

#root-container{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

#aside{
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;

  .guide-section:not(:last-child){
    // border-bottom: 1px solid #666;
  }

  .guide-entry{line-height: 40px;}

  .guide-entry-renderer{
    text-decoration: none;
    .icon{margin-left: 20px;}
    .text{margin-left: 20px;}
  }

  #llc{
    padding-left: 20px; padding: 24px 27px;
  }

  #footer{
    padding: 24px 27px;
    .guide-links-primary{
      text-decoration: none;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}

#main{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  padding: 20px 0;
}

#main-router-view{
  width: 1000px; margin: auto;
  .el-breadcrumb{margin-bottom: 20px;}
  .el-row{margin-top: 20px;}
}

// .spt-list{
//   .spt-thumb{display: block; width: 100%; height: 118px;}
//   .spt-title{
//     margin: 8px auto; font-weight: normal; font-size: inherit;
//     a{text-decoration: none; max-height: 52px; overflow: hidden;}
//   }
// }

.block-list{
  .block-thumb{display: block; width: 100%; height: 118px; min-width: @list-item-width;}
  .block-title{
    margin: 8px auto; font-weight: normal; font-size: inherit;
    a{text-decoration: none; max-height: 52px; overflow: hidden;}
  }
}

// #header
#header{
  .el-form-item.is-success .el-input__inner{border-color: #dcdfe6;}
  .el-form-item.is-error .el-input__inner{border-color: #dcdfe6;}

  // .aside-menu-btn{font-size: 2rem;}
  .aside-menu-btn{float: left; margin: 20px 30px 0; cursor: pointer;}
  #logo{display: inline-block; width: 85px; height: 61px; background-image: url("@{img-dir-path}logo.jpg");}
  .el-form{padding-top: 12px;}
  #searchForm .el-form-item {margin-bottom: 0;}

  [class^=el-icon-]{font-size: 3rem;}
  .el-icon-search{font-size: 1.5rem;}

  .masthead{
    margin-top: 20px;
    i{float: right; margin-right: 20px; cursor: pointer;}
    .el-submenu__title{height: auto !important; line-height: inherit !important;}
    .el-menu--horizontal .el-submenu .el-menu{top: 30px;}
    .el-submenu__title{border-bottom-width: 0 !important;}

    .el-menu{ text-align: center;}
    .el-menu-item{min-width: 70px !important;}
  }
  
  #usr-btns{}
}

// 层级导航
.el-breadcrumb{
  span{font-size: 2.4rem;}
}

// 标签
.tags{
  margin-bottom: 30px;
  .el-tag{margin-right: 10px; font-size: 1.6rem;}
  a{text-decoration: none;}
}

// #upload
.newTagDialog{
  .el-input{width: 300px;}
}

.new-video-btn{}

.new-album-btn, .new-tag-btn{margin-left: 20px;}


// video
#palyer-wrapper{
  display: inline-block; position: relative;
  .subtitle{position: absolute;  width: 100%; bottom: 30px; text-align: center; font-size: 24px; color: #eee; text-shadow: 2px 2px 2px rgb(65, 59, 59);}
  max-width: 800px;
}

#usr-operation-desk{
  margin: 30px 0px;

  .block-list{
    li{cursor: pointer;}
    li:not(:last-child){margin-right: 20px;}
  }
}

// #videos
// #video-container{width: 210px;}

.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.video-list li{width: @list-item-width;}

// 关于站长
#about{
  pre{white-space: pre-line; font-size: 14px;}
}