.newTagDialog .el-input {
  width: 300px;
}
#palyer-wrapper {
  display: inline-block;
  position: relative;
}
#palyer-wrapper .subtitle {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #eee;
  text-shadow: 2px 2px 2px #413b3b;
}
.time {
  font-size: 13px;
  color: #999;
}
.bottom {
  margin-top: 13px;
  line-height: 12px;
}
.button {
  padding: 0;
  float: right;
}
.image {
  width: 100%;
  display: block;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
#header .el-form-item.is-success .el-input__inner {
  border-color: #dcdfe6;
}
#header .el-form-item.is-error .el-input__inner {
  border-color: #dcdfe6;
}
