html {
  font-size: 10px;
}
app {
  font-size: 14px;
}
#root-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
#aside {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}
#aside .guide-section:not(:last-child) {
  border-bottom: 1px solid #666;
}
#aside .guide-entry {
  line-height: 40px;
}
#aside .guide-entry-renderer {
  text-decoration: none;
}
#aside .guide-entry-renderer .icon {
  margin-left: 20px;
}
#aside .guide-entry-renderer .text {
  margin-left: 20px;
}
#aside #llc {
  padding-left: 20px;
  padding: 24px 27px;
}
#aside #footer {
  padding: 24px 27px;
}
#aside #footer .guide-links-primary {
  text-decoration: none;
}
#aside #footer .guide-links-primary:not(:last-child) {
  margin-right: 8px;
}
#main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  padding: 20px 0;
}
#main-router-view {
  width: 1284px;
  margin: auto;
}
#main-router-view .el-breadcrumb {
  margin-bottom: 20px;
}
#main-router-view .el-row {
  margin-top: 20px;
}
.block-list .block-thumb {
  display: block;
  width: 100%;
  height: 118px;
}
.block-list .block-title {
  margin: 8px auto;
  font-weight: normal;
  font-size: inherit;
}
.block-list .block-title a {
  text-decoration: none;
  max-height: 52px;
  overflow: hidden;
}
#header .el-form-item.is-success .el-input__inner {
  border-color: #dcdfe6;
}
#header .el-form-item.is-error .el-input__inner {
  border-color: #dcdfe6;
}
#header .aside-menu-btn {
  float: left;
  margin: 20px 30px 0;
  cursor: pointer;
}
#header #logo {
  display: inline-block;
  width: 85px;
  height: 66px;
  background-image: url("/img/logo.jpg");
}
#header .el-form {
  padding-top: 12px;
}
#header .el-form-item {
  margin-bottom: 0;
}
#header [class^=el-icon-] {
  font-size: 3rem;
}
#header .el-icon-search {
  font-size: 1.5rem;
}
#header .masthead {
  margin-top: 20px;
}
#header .masthead i {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
#header .avatar-btn {
  width: 100px;
  float: right;
}
#header .avatar-btn .el-icon-arrow-down {
  display: none;
}
.el-breadcrumb span {
  font-size: 2.4rem;
}
.tags {
  margin-bottom: 30px;
}
.tags .el-tag {
  margin-right: 10px;
  font-size: 1.6rem;
}
.tags a {
  text-decoration: none;
}
.newTagDialog .el-input {
  width: 300px;
}
.new-album-btn,
.new-tag-btn {
  margin-left: 20px;
}
#palyer-wrapper {
  display: inline-block;
  position: relative;
}
#palyer-wrapper .subtitle {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #eee;
  text-shadow: 2px 2px 2px #413b3b;
}
.time {
  font-size: 13px;
  color: #999;
}
.bottom {
  margin-top: 13px;
  line-height: 12px;
}
.button {
  padding: 0;
  float: right;
}
.image {
  width: 100%;
  display: block;
}
#about pre {
  white-space: pre-line;
  font-size: 14px;
}
