@img-dir-path: '/img/';

#root-container{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

#aside{
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;

  .guide-section:not(:last-child){
    border-bottom: 1px solid #666;
  }

  .guide-entry{line-height: 40px;}

  .guide-entry-renderer{
    text-decoration: none;
    .icon{margin-left: 20px;}
    .text{margin-left: 20px;}
  }

  #llc{
    padding-left: 20px; padding: 24px 27px;
  }

  #footer{
    padding: 24px 27px;
    .guide-links-primary{
      text-decoration: none;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}

#main{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  padding: 20px 0;
}

#main-router-view{
  width: 1284px; margin: auto;
  .el-breadcrumb{margin-bottom: 20px;}
}

// .spt-list{
//   .spt-thumb{display: block; width: 100%; height: 118px;}
//   .spt-title{
//     margin: 8px auto; font-weight: normal; font-size: inherit;
//     a{text-decoration: none; max-height: 52px; overflow: hidden;}
//   }
// }

.block-list{
  .block-thumb{display: block; width: 100%; height: 118px;}
  .block-title{
    margin: 8px auto; font-weight: normal; font-size: inherit;
    a{text-decoration: none; max-height: 52px; overflow: hidden;}
  }
}

// #header
#header{
  .el-form-item.is-success .el-input__inner{border-color: #dcdfe6;}
  .el-form-item.is-error .el-input__inner{border-color: #dcdfe6;}

  // .aside-menu-btn{font-size: 2rem;}
  .aside-menu-btn{float: left; margin: 20px 30px 0; cursor: pointer;}
  #logo{display: inline-block; width: 85px; height: 66px; background-image: url("@{img-dir-path}logo.jpg");}
  .el-form{padding-top: 12px;}
  .el-form-item {margin-bottom: 0;}

  [class^=el-icon-]{font-size: 2rem;}
  .el-icon-search{font-size: 1rem;}

  .masthead{
    margin-top: 20px;
    i{float: right; margin-right: 20px; cursor: pointer;}
  }
}

// #upload
.newTagDialog{
  .el-input{width: 300px;}
}

// video
#palyer-wrapper{
  display: inline-block; position: relative;
  .subtitle{position: absolute;  width: 100%; bottom: 30px; text-align: center; font-size: 24px; color: #eee; text-shadow: 2px 2px 2px rgb(65, 59, 59);}
}

// #videos
.time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }



