@import "common.less";
@import "el-rst.less";

@img-dir-path: '/img/';
@border-color: #dcdfe6;
@list-item-width: 210px;
@list-item-height: 118px;;
@font-color: #2b2a2a;

body{
  min-width:600px;
  font-size: 1.4rem;
  font-family: "Arial","Microsoft YaHei","黑体","宋体","sans-serif;"
}

#aside-controller{
  display: none;
  position: absolute;
  width: 2rem;
  height: 4rem;
  background-color: #d6cccc;
  left: 0;
  opacity: .8;
  top: 20rem;
  cursor: pointer;

  .fa{.abs-center; font-size: 2.2rem;}
}

.main-model{
  h2{margin-bottom: 20px;}
}

html {
	font-size: 10px;
	color: @font-color;
}

app{font-size: 14px;}

#root-container{
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-content: flex-start;
  // align-items: flex-start;
  &.brief{
    #aside{
      width: 80px;
    }

    #main{left: 81px;}

    .guide-entry-renderer{
      text-align: center;

      .text{display: none;}
      .icon{font-size: 20px; margin-left: 0;}
    }
  }

  &.mobile-structure{
    #aside{
      display: none!important;
    }

    #main{left: 0!important; border-width: 0 !important;}

    #main-router-view{padding-left: .6rem; padding-right: 0;}

    #player-wrapper{margin-left: -.6rem;}
    #video{height: auto; width: 100%;}

    #usr-operation-desk{width: auto;}

    #star-section{left: -8rem;}
  }
}

// #header
#header{
  border-bottom: 1px solid @border-color;
  .el-form-item.is-success .el-input__inner{border-color: #dcdfe6;}
  .el-form-item.is-error .el-input__inner{border-color: #dcdfe6;}

  // .aside-menu-btn{font-size: 2rem;}
  .aside-menu-btn{float: left; margin: 20px 30px 0; cursor: pointer;}
  /* #logo img{width: 60px; background-image: url("@{img-dir-path}logo.png");} */
  .el-form{padding-top: 12px;}
  #searchForm .el-form-item {margin-bottom: 0;}

  [class^=el-icon-], .fa{font-size: 30px;}
  .el-icon-search{font-size: 15px;}

  .masthead{
    margin-top: 20px;
    .item{float: right; margin-right: 20px; cursor: pointer;}
    .el-submenu__title{height: auto !important; line-height: inherit !important;}
    .el-menu--horizontal .el-submenu .el-menu{top: 30px;}
    .el-submenu__title{border-bottom-width: 0 !important;}

    .el-menu{ text-align: center;}
    .el-menu-item{min-width: 70px !important;}
  }

  .el-input-group--append{transition: all .5s ease;}
}

#aside{
  width: 300px;
  float: left;
  overflow: auto;
  // flex-grow: 0;
  // flex-shrink: 0;
  // flex-basis: 300px;
  // border: 1px solid @border-color;
  border-width: 0 1px 1px 0;

  .guide-section:not(:last-child){
    // border-bottom: 1px solid #666;
  }

  .guide-entry{line-height: 40px; cursor: pointer;}

  .guide-entry-renderer{
    display: block;
    text-decoration: none;
    .icon{margin-left: 20px;}
    .text{margin-left: 20px;}
    &:hover{background-color: #eee;}
  }

  #llc{
    padding-left: 20px; padding: 24px 27px;
  }

  #footer{
    padding: 24px 27px;
    .guide-links-primary{
      text-decoration: none;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }

  .guide-section{border-bottom: 1px solid @border-color;}
}

#main{
  // flex-grow: 1;
  // flex-shrink: 0;
  // flex-basis: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 301px;
  right: 0;
  overflow: auto;
 
  padding: 20px 0;
  border: 1px solid @border-color;
  border-width: 0 0 1px 1px;

  // display: flex;
  // justify-content: center;
  // align-items: flex-start;

  #guest-book-controller{font-size: 2rem; padding: .3rem; cursor: pointer; box-shadow: -3px 3px 1rem #222}

}

#main-router-view{
  min-width: 500px; margin: auto;
  padding: 0 10px;
  // flex-grow: 1;
  max-width: 1000px;
  .el-breadcrumb{margin-bottom: 1rem;}
  .el-row{margin-top: 20px;}
}

.pay-code{width: 100%;}

.block-list{
  .block-thumb{display: block; width: @list-item-width; height: @list-item-height; background-color: #666;}
  .block-title{
    margin: 1rem auto 0; font-weight: normal; font-size: inherit; line-height: 2rem; max-height: 4rem;  width: 210px;
    overflow: hidden;
  }
}

// 上传页
  // .upload-container{
  //   width: 400px;
  //   margin: auto;
  // }

// 标签
.tags{
  // margin-bottom: 1rem; min-height: 3rem;
  .el-tag{margin-right: 10px; font-size: 1.4rem;}
  a{text-decoration: none;}
}

.newTagDialog{
  .el-input{width: 300px;}
}

// 登录对话框
#login-dialog{
  .btns{padding-left: 100px;}
}

// 运动列表
.sport-intro-link{position: absolute; right: 0; top: 0;}

// 视频列表
.translate-tag{position: absolute; top: 0; right: 0;}
.sortor-line{margin-bottom: 2rem;}
.sortor-wrapper{
  margin: 1rem 0;
  .fa{margin-right: 5px;}
  button{margin-bottom: 1rem; margin-left: 0!important; margin-right: 10px;}
}

// 视频播放页
.video-tags{margin-bottom: 1em; min-height: 32px;}
#usr-operation-desk{
  margin: 30px 0px;
  width: 712px;

  .block-list{
    li{cursor: pointer; float: left;}
    li:not(:last-child){margin-right: 20px;}
  }
}

#video-operation-wrapper{
  button, input{margin-bottom: 0.5rem; margin-left: 0; margin-right: 10px;}
}

#link-to-translator{margin-left: 2rem; font-weight: bold;}

#kick-off-ball{position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(.01); opacity: 1; background-color: transparent; transition: transform 1s ease 0s, opacity 1s ease 0s;}

// #capture-btn{width: 120px;}

#enshrine-btn{
  position: relative;
}

#star-section{
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 140px;
  box-shadow: 0 0 20px #999;

  >*{padding: 10px;}

  h5{border-bottom: 1px solid @border-color;}
}

#stared-list{
  max-height: 300px; overflow-y: auto; overflow-x: hidden;
  .star{padding: .7rem 0;}
}

#remark-wrapper{height: 200px; overflow-y: auto; border: 1px solid @border-color; margin-top: 20px;}
.rmk{padding: 15px 30px;}

#qrcode-shoot{margin-bottom: 20px;}

#shoot-container{
  text-align: center; 
  >img{max-height: 300px; max-width: 100%;}
}

// #videos
// .time {
//   font-size: 13px;
//   color: #999;
// }

// .bottom {
//   margin-top: 13px;
//   line-height: 12px;
// }

// .button {
//   padding: 0;
//   float: right;
// }

// .image {
//   width: 100%;
//   display: block;
// }

// .video-list li{width: @list-item-width;}

// 关于站长
#about{
  pre{white-space: pre-line; font-size: 1.4rem;}
}

// 注册
// #regist-btn{display: none;}

// 反馈
.feedback-wrapper{
  max-width: 500px !important;
  padding: 10px 20px;
  h2, h3{margin-bottom: 20px;}
}

// 收藏
.star-list{
	h2{margin-bottom: 20px;}
	.block-list{margin-bottom: 20px;}
	.v-star-list{
		li{
			width: @list-item-width; height: @list-item-height; text-align: center; line-height: @list-item-height; box-sizing: border-box; border: 1px solid @border-color;
			a{display: block; height: 100%; .ellipsis;}
		}
	}
	.shoot-v-list{
    
	}
}

// 竞赛
.map-container{
  box-shadow: 0px 0px 20px #777;
  position: fixed!important;
  left: 0%!important;
  top: 0%!important;
  width: 100%!important;
  max-width: 100%!important;
  height: 100%!important;
  z-index: 1000!important;
  padding: 0 !important;

  .close-btn{position: absolute; width: 100px; height: 30px; left: 50%; transform: translateX(-50%); background-color: #eee; text-align: center; line-height: 30px; z-index: 100; font-weight: bold; box-shadow: 0 0 10px #2b2a2a; cursor: pointer;}
}



#baidu-map{width: 100%; height: 100%; background-color: #fff;}

#match-list{
  position: absolute; z-index: 100; left: 0; top: 0; border: 1px solid @border-color; background-color: #fff;
  #matchPanel > *{ padding: 10px;}
  .match{padding: 10px; cursor: pointer; border-bottom: 1px solid @border-color; cursor: pointer;}
}


// 用户资料
.default-avatar-list{
  img{
    margin-right: 10px;
    &.selected{box-shadow: 0 0 6px #333;}
  }
}

.upload-wrapper{
  max-width: 500px !important; margin:0 auto;
  // label{line-height: 40px;}
}

// 站内消息列表
#inmail-list{
  li{border-bottom: 1px solid @border-color; cursor: pointer; height: 30px; line-height: 30px;}
  li:last-child{border-bottom-width: 0;}
}

// 赛后评价
.evaluate-container{
  text-align: center;

  .fa{
    font-size: 5rem;
    cursor: pointer;
  }

  .thumb-down{margin-left: 2rem;}

  .el-textarea{margin-top: 2rem;}
}

#sitename-on-video{
  position: absolute;
  right: .5em;
  top: .5em;
  text-align: center;
  letter-spacing: .2rem;
  color: #d38b6f;
  padding: .4rem;
  -webkit-user-select:none;
  user-select: none;
  font-size: 1rem;
}

// Guide
#guide-cursor{
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 3000;
  color: #efdb74;
  font-size: 3rem;
}

#guide-dialog{
  .el-dialog__body{text-align: center;}
}

// 翻译
#captions-area{padding-right: 1.5rem;}
.captions-editor-nav-captions{margin-bottom: 1rem;}
.draft-dropdown{
  margin-right: 10px; float: right;
}
.cur-draft-item{color: #66b1ff!important;}

.btns .el-button{font-size: 1rem; padding: .6rem 1rem;}
.timedtext-content{
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; // 影响拖拽needle
  .rel{position: relative; overflow: hidden;}
  #timeline{
    position: relative;
    min-height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid#f0f0f0;
    // canvas{background-color: rebeccapurple;}
  }
  .el-textarea{display: none;}

  #line-editor{
    height: 500px; overflow-x: hidden; overflow-y: auto;
    .fa{cursor: pointer; display: none;}
  }
  .caption-line{
    min-height: 60px; padding: .5rem; border-bottom: 1px solid #f0f0f0;
    .el-textarea__inner{
      padding: 0 .5rem;
    }
  }
  .caption-line:hover{
    background-color: #f8f8f8;
    .fa{display: block;}
  }

  .caption-line{
    &:hover{
      .fa{display: block !important;}
    }
    &.selected{
      background-color: #def;
      .fa{display: block !important;}
    }

    &.focused{
      .caption-ipt{display: block;}
      .caption-text{display: none;}
    }

    &.current-line{
      &::before{position: absolute; left: 0; top: 8px; width: 2px; height: 28px; background-color: #333;}
    }

    .caption-text{min-height: 40px; cursor: text;}
  }

  .timed-line-btns{padding-left: 1rem;}

  #time-scale{cursor: ew-resize;}

  #playhead-container{width: 100%; height: 100%; overflow: hidden; position: absolute; top: 20px; pointer-events: none;}

  .playhead{
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;

    .playhead-needle{
      height: 84px;
      position: absolute;
      cursor: pointer;
      top: 0;
      width: 1px;
      background-color: #cc181e;
    }
    .playhead-handle{
      cursor: pointer;
      height: 20px;
      left: -10px;
      position: absolute;
      top: 64px;
      width: 20px;
    }
    .playhead-triangle{
      margin-top: 10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #cc181e;
    }
  }

  .caption-block{
    position: absolute; top: 24px; height: 60px; box-sizing: border-box; border: 1px solid; cursor: pointer;
    &.current{box-shadow: inset 0 0 8px #333;}
  }

  .caption-block-dragger{
    position: absolute; left: -100px; top: 24px; height: 60px; width: 20px; background-color: #409EFF; margin-left: -10px; cursor: ew-resize; text-align: center; 
    .fa{
      margin-top: 24px; transform: rotateZ(90deg); color: #fff;
    }
  }
}

#captions-player-colimn{
  opacity: 0;
}

#waveform{
  position: absolute; left: 0; z-index: -1; height: 80px;
}

.delete-segment-button, .add-segment-button{width: 12px;}

// ADMIN
// 视频列表页
.admin-video-list{
  .row-disabled{background-color: #bbb;}
}