.el-breadcrumb span {
  font-size: 2rem;
}
.el-pagination {
  margin: 3rem 0;
}
@media screen and (max-width: 1000px) {
  .el-pagination .el-pager > li,
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    font-size: 1.4rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
  }
  .el-pagination .el-icon {
    font-size: 1.4rem !important;
  }
  .el-dropdown-menu__item {
    font-size: 1.4rem !important;
  }
  .el-select-dropdown__item,
  .el-form-item__content {
    font-size: 1rem!important;
  }
  .el-button,
  .el-textarea {
    font-size: 1.4rem;
  }
  .el-input {
    font-size: 1.4rem;
  }
  .el-dialog__title {
    font-size: 2rem !important;
  }
  .el-form-item__error {
    font-size: 1.2rem;
  }
  .el-form-item {
    margin-bottom: 2rem;
  }
  .el-upload__tip,
  .el-upload__text {
    font-size: 1.2rem!important;
  }
  .el-checkbox__label {
    font-size: 1.2rem;
  }
  .el-input__inner {
    height: 3rem;
  }
  .el-form-item__label {
    font-size: 1.4rem;
    padding-right: 1.2rem!important;
  }
  .el-dialog__body {
    font-size: 1.4rem;
    line-height: 1.5em;
  }
  .el-tooltip__popper {
    font-size: 1.4rem !important;
  }
  #llc {
    display: none !important;
  }
}
