.el-breadcrumb span {
  font-size: 24px;
}
.el-pagination {
  margin: 30px 0;
}
@media screen and (max-width: 1000px) {
  .el-pager li {
    font-size: 24px;
  }
  .el-pagination .el-icon {
    font-size: 24px !important;
  }
  .el-dropdown-menu__item {
    font-size: 24px;
  }
  .el-breadcrumb span {
    font-size: 40px;
  }
  .el-button {
    font-size: 24px;
  }
  .el-input {
    font-size: 24px;
  }
  .el-dialog__title {
    font-size: 36px !important;
  }
}
