.flags-AD, .flags-AND {
    background-position: -4px -37px;
    width: 37px;
    height: 25px
}

.flags-AF, .flags-AFG {
    background-position: -4px -70px;
    width: 37px;
    height: 25px
}

.flags-AG, .flags-ATG {
    background-position: -4px -103px;
    width: 37px;
    height: 25px
}

.flags-AI, .flags-AIA {
    background-position: -4px -136px;
    width: 37px;
    height: 25px
}

.flags-AL, .flags-ALB {
    background-position: -4px -169px;
    width: 37px;
    height: 25px
}

.flags-AM, .flags-ARM {
    background-position: -4px -202px;
    width: 37px;
    height: 25px
}

.flags-AN, .flags-ANT {
    background-position: -4px -235px;
    width: 37px;
    height: 25px
}

.flags-AO, .flags-AGO {
    background-position: -4px -268px;
    width: 37px;
    height: 25px
}

.flags-AQ, .flags-ATA {
    background-position: -4px -301px;
    width: 37px;
    height: 25px
}

.flags-AR, .flags-ARG {
    background-position: -4px -334px;
    width: 37px;
    height: 25px
}

.flags-AS, .flags-ASM {
    background-position: -4px -367px;
    width: 37px;
    height: 25px
}

.flags-AT, .flags-AUT {
    background-position: -4px -400px;
    width: 37px;
    height: 25px
}

.flags-AU, .flags-AUS {
    background-position: -4px -433px;
    width: 37px;
    height: 25px
}

.flags-AW, .flags-ABW {
    background-position: -4px -466px;
    width: 37px;
    height: 25px
}

.flags-AX, .flags-ALA {
    background-position: -4px -499px;
    width: 37px;
    height: 25px
}

.flags-AZ, .flags-AZE {
    background-position: -4px -532px;
    width: 37px;
    height: 25px
}

.flags-BA, .flags-BIH {
    background-position: -4px -565px;
    width: 37px;
    height: 25px
}

.flags-BB, .flags-BRB {
    background-position: -4px -598px;
    width: 37px;
    height: 25px
}

.flags-BD, .flags-BGD {
    background-position: -4px -631px;
    width: 37px;
    height: 25px
}

.flags-BE, .flags-BEL {
    background-position: -4px -664px;
    width: 37px;
    height: 25px
}

.flags-BF, .flags-BFA {
    background-position: -4px -697px;
    width: 37px;
    height: 25px
}

.flags-BG, .flags-BGR {
    background-position: -4px -730px;
    width: 37px;
    height: 25px
}

.flags-BH, .flags-BHR {
    background-position: -4px -763px;
    width: 37px;
    height: 25px
}

.flags-BI, .flags-BDI {
    background-position: -4px -796px;
    width: 37px;
    height: 25px
}

.flags-BJ, .flags-BEN {
    background-position: -4px -829px;
    width: 37px;
    height: 25px
}

.flags-BL {
    background-position: -4px -862px;
    width: 37px;
    height: 25px
}

.flags-BM, .flags-BMU {
    background-position: -4px -895px;
    width: 37px;
    height: 25px
}

.flags-BN, .flags-BRN {
    background-position: -4px -928px;
    width: 37px;
    height: 25px
}

.flags-BO, .flags-BOL {
    background-position: -4px -961px;
    width: 37px;
    height: 25px
}

.flags-BR, .flags-BRA {
    background-position: -4px -994px;
    width: 37px;
    height: 25px
}

.flags-BS, .flags-BHS {
    background-position: -4px -1027px;
    width: 37px;
    height: 25px
}

.flags-BT, .flags-BTN {
    background-position: -4px -1060px;
    width: 37px;
    height: 25px
}

.flags-BW, .flags-BWA {
    background-position: -4px -1093px;
    width: 37px;
    height: 25px
}

.flags-BY, .flags-BLR {
    background-position: -4px -1126px;
    width: 37px;
    height: 25px
}

.flags-BZ, .flags-BLZ {
    background-position: -4px -1159px;
    width: 37px;
    height: 25px
}

.flags-CA, .flags-CAN {
    background-position: -4px -1192px;
    width: 37px;
    height: 25px
}

.flags-CC, .flags-CCK {
    background-position: -4px -1225px;
    width: 37px;
    height: 25px
}

.flags-CD, .flags-COD {
    background-position: -4px -1258px;
    width: 37px;
    height: 25px
}

.flags-CF, .flags-CAF {
    background-position: -4px -1291px;
    width: 37px;
    height: 25px
}

.flags-CG, .flags-COG {
    background-position: -4px -1324px;
    width: 37px;
    height: 25px
}

.flags-CH, .flags-CHE {
    background-position: -4px -1357px;
    width: 37px;
    height: 25px
}

.flags-CI, .flags-CIV {
    background-position: -4px -1390px;
    width: 37px;
    height: 25px
}

.flags-CK, .flags-COK {
    background-position: -4px -1423px;
    width: 37px;
    height: 25px
}

.flags-CL, .flags-CHL {
    background-position: -4px -1456px;
    width: 37px;
    height: 25px
}

.flags-CM, .flags-CMR {
    background-position: -4px -1489px;
    width: 37px;
    height: 25px
}

.flags-CN, .flags-CHN {
    background-position: -4px -1522px;
    width: 37px;
    height: 25px
}

.flags-CO, .flags-COL {
    background-position: -4px -1555px;
    width: 37px;
    height: 25px
}

.flags-CR, .flags-CRI {
    background-position: -4px -1588px;
    width: 37px;
    height: 25px
}

.flags-CU, .flags-CUB {
    background-position: -4px -1621px;
    width: 37px;
    height: 25px
}

.flags-CV, .flags-CPV {
    background-position: -4px -1654px;
    width: 37px;
    height: 25px
}

.flags-CW {
    background-position: -4px -1687px;
    width: 37px;
    height: 25px
}

.flags-CX, .flags-CXR {
    background-position: -4px -1720px;
    width: 37px;
    height: 25px
}

.flags-CY, .flags-CYP {
    background-position: -4px -1753px;
    width: 37px;
    height: 25px
}

.flags-CZ, .flags-CZE {
    background-position: -4px -1786px;
    width: 37px;
    height: 25px
}

.flags-DE, .flags-DEU {
    background-position: -4px -1819px;
    width: 37px;
    height: 25px
}

.flags-DJ, .flags-DJI {
    background-position: -4px -1852px;
    width: 37px;
    height: 25px
}

.flags-DK, .flags-DNK {
    background-position: -4px -1885px;
    width: 37px;
    height: 25px
}

.flags-DM, .flags-DMA {
    background-position: -4px -1918px;
    width: 37px;
    height: 25px
}

.flags-DO, .flags-DOM {
    background-position: -4px -1951px;
    width: 37px;
    height: 25px
}

.flags-DZ, .flags-DZA {
    background-position: -4px -1984px;
    width: 37px;
    height: 25px
}

.flags-EC, .flags-ECU {
    background-position: -4px -2017px;
    width: 37px;
    height: 25px
}

.flags-EE, .flags-EST {
    background-position: -4px -2050px;
    width: 37px;
    height: 25px
}

.flags-EG, .flags-EGY {
    background-position: -4px -2083px;
    width: 37px;
    height: 25px
}

.flags-EH, .flags-ESH {
    background-position: -4px -2116px;
    width: 37px;
    height: 25px
}

.flags-ER, .flags-ERI {
    background-position: -4px -2149px;
    width: 37px;
    height: 25px
}

.flags-ES, .flags-ESP {
    background-position: -4px -2182px;
    width: 37px;
    height: 25px
}

.flags-ET, .flags-ETH {
    background-position: -4px -2215px;
    width: 37px;
    height: 25px
}

.flags-EU {
    background-position: -4px -2248px;
    width: 37px;
    height: 25px
}

.flags-FI, .flags-FIN {
    background-position: -4px -2281px;
    width: 37px;
    height: 25px
}

.flags-FJ, .flags-FJI {
    background-position: -4px -2314px;
    width: 37px;
    height: 25px
}

.flags-FK, .flags-FLK {
    background-position: -4px -2347px;
    width: 37px;
    height: 25px
}

.flags-FM, .flags-FSM {
    background-position: -4px -2380px;
    width: 37px;
    height: 25px
}

.flags-FO, .flags-FRO {
    background-position: -4px -2413px;
    width: 37px;
    height: 25px
}

.flags-FR, .flags-FRA {
    background-position: -4px -2446px;
    width: 37px;
    height: 25px
}

.flags-GA, .flags-GAB {
    background-position: -4px -2479px;
    width: 37px;
    height: 25px
}

.flags-GB, .flags-GBR {
    background-position: -4px -2512px;
    width: 37px;
    height: 25px
}

.flags-GD, .flags-GRD {
    background-position: -4px -2545px;
    width: 37px;
    height: 25px
}

.flags-GE, .flags-GEO {
    background-position: -4px -2578px;
    width: 37px;
    height: 25px
}

.flags-GG {
    background-position: -4px -2611px;
    width: 37px;
    height: 25px
}

.flags-GH, .flags-GHA {
    background-position: -4px -2644px;
    width: 37px;
    height: 25px
}

.flags-GI, .flags-GIB {
    background-position: -4px -2677px;
    width: 37px;
    height: 25px
}

.flags-GL, .flags-GRL {
    background-position: -4px -2710px;
    width: 37px;
    height: 25px
}

.flags-GM, .flags-GMB {
    background-position: -4px -2743px;
    width: 37px;
    height: 25px
}

.flags-GN, .flags-GIN {
    background-position: -4px -2776px;
    width: 37px;
    height: 25px
}

.flags-GQ, .flags-GNQ {
    background-position: -4px -2809px;
    width: 37px;
    height: 25px
}

.flags-GR, .flags-GRC {
    background-position: -4px -2842px;
    width: 37px;
    height: 25px
}

.flags-GS, .flags-SGS {
    background-position: -4px -2875px;
    width: 37px;
    height: 25px
}

.flags-GT, .flags-GTM {
    background-position: -4px -2908px;
    width: 37px;
    height: 25px
}

.flags-GU, .flags-GUM {
    background-position: -4px -2941px;
    width: 37px;
    height: 25px
}

.flags-GW, .flags-GNB {
    background-position: -4px -2974px;
    width: 37px;
    height: 25px
}

.flags-GY, .flags-GUY {
    background-position: -4px -3007px;
    width: 37px;
    height: 25px
}

.flags-HK, .flags-HKG {
    background-position: -4px -3040px;
    width: 37px;
    height: 25px
}

.flags-HN, .flags-HND {
    background-position: -4px -3073px;
    width: 37px;
    height: 25px
}

.flags-HR, .flags-HRV {
    background-position: -4px -3106px;
    width: 37px;
    height: 25px
}

.flags-HT, .flags-HTI {
    background-position: -4px -3139px;
    width: 37px;
    height: 25px
}

.flags-HU, .flags-HUN {
    background-position: -4px -3172px;
    width: 37px;
    height: 25px
}

.flags-IC {
    background-position: -4px -3205px;
    width: 37px;
    height: 25px
}

.flags-ID, .flags-IDN {
    background-position: -4px -3238px;
    width: 37px;
    height: 25px
}

.flags-IE, .flags-IRL {
    background-position: -4px -3271px;
    width: 37px;
    height: 25px
}

.flags-IL, .flags-ISR {
    background-position: -4px -3304px;
    width: 37px;
    height: 25px
}

.flags-IM {
    background-position: -4px -3337px;
    width: 37px;
    height: 25px
}

.flags-IN, .flags-IND {
    background-position: -4px -3370px;
    width: 37px;
    height: 25px
}

.flags-IQ, .flags-IRQ {
    background-position: -4px -3403px;
    width: 37px;
    height: 25px
}

.flags-IR, .flags-IRN {
    background-position: -4px -3436px;
    width: 37px;
    height: 25px
}

.flags-IS, .flags-ISL {
    background-position: -4px -3469px;
    width: 37px;
    height: 25px
}

.flags-IT, .flags-ITA {
    background-position: -4px -3502px;
    width: 37px;
    height: 25px
}

.flags-JE {
    background-position: -4px -3535px;
    width: 37px;
    height: 25px
}

.flags-JM, .flags-JAM {
    background-position: -4px -3568px;
    width: 37px;
    height: 25px
}

.flags-JO, .flags-JOR {
    background-position: -4px -3601px;
    width: 37px;
    height: 25px
}

.flags-JP, .flags-JPN {
    background-position: -4px -3634px;
    width: 37px;
    height: 25px
}

.flags-KE, .flags-KEN {
    background-position: -4px -3667px;
    width: 37px;
    height: 25px
}

.flags-KG, .flags-KGZ {
    background-position: -4px -3700px;
    width: 37px;
    height: 25px
}

.flags-KH, .flags-KHM {
    background-position: -4px -3733px;
    width: 37px;
    height: 25px
}

.flags-KI, .flags-KIR {
    background-position: -4px -3766px;
    width: 37px;
    height: 25px
}

.flags-KM, .flags-COM {
    background-position: -4px -3799px;
    width: 37px;
    height: 25px
}

.flags-KN, .flags-KNA {
    background-position: -4px -3832px;
    width: 37px;
    height: 25px
}

.flags-KP, .flags-PRK {
    background-position: -4px -3865px;
    width: 37px;
    height: 25px
}

.flags-KR, .flags-KOR {
    background-position: -4px -3898px;
    width: 37px;
    height: 25px
}

.flags-KW, .flags-KWT {
    background-position: -4px -3931px;
    width: 37px;
    height: 25px
}

.flags-KY, .flags-CYM {
    background-position: -4px -3964px;
    width: 37px;
    height: 25px
}

.flags-AE, .flags-ARE {
    background-position: -4px -3997px;
    width: 37px;
    height: 25px
}

.flags-LA, .flags-LAO {
    background-position: -4px -4030px;
    width: 37px;
    height: 25px
}

.flags-LB, .flags-LBN {
    background-position: -4px -4063px;
    width: 37px;
    height: 25px
}

.flags-LC, .flags-LCA {
    background-position: -4px -4096px;
    width: 37px;
    height: 25px
}

.flags-LI, .flags-LIE {
    background-position: -4px -4129px;
    width: 37px;
    height: 25px
}

.flags-LK, .flags-LKA {
    background-position: -4px -4162px;
    width: 37px;
    height: 25px
}

.flags-LR, .flags-LBR {
    background-position: -4px -4195px;
    width: 37px;
    height: 25px
}

.flags-LS, .flags-LSO {
    background-position: -4px -4228px;
    width: 37px;
    height: 25px
}

.flags-LT, .flags-LTU {
    background-position: -4px -4261px;
    width: 37px;
    height: 25px
}

.flags-LU, .flags-LUX {
    background-position: -4px -4294px;
    width: 37px;
    height: 25px
}

.flags-LV, .flags-LVA {
    background-position: -4px -4327px;
    width: 37px;
    height: 25px
}

.flags-LY, .flags-LBY {
    background-position: -4px -4360px;
    width: 37px;
    height: 25px
}

.flags-MA, .flags-MAR {
    background-position: -4px -4393px;
    width: 37px;
    height: 25px
}

.flags-MC, .flags-MCO {
    background-position: -4px -4426px;
    width: 37px;
    height: 25px
}

.flags-MD, .flags-MDA {
    background-position: -4px -4459px;
    width: 37px;
    height: 25px
}

.flags-ME {
    background-position: -4px -4492px;
    width: 37px;
    height: 25px
}

.flags-MF {
    background-position: -4px -4525px;
    width: 37px;
    height: 25px
}

.flags-MG, .flags-MDG {
    background-position: -4px -4558px;
    width: 37px;
    height: 25px
}

.flags-MH, .flags-MHL {
    background-position: -4px -4591px;
    width: 37px;
    height: 25px
}

.flags-MK, .flags-MKD {
    background-position: -4px -4624px;
    width: 37px;
    height: 25px
}

.flags-ML, .flags-MLI {
    background-position: -4px -4657px;
    width: 37px;
    height: 25px
}

.flags-MM, .flags-MMR {
    background-position: -4px -4690px;
    width: 37px;
    height: 25px
}

.flags-MN, .flags-MNG {
    background-position: -4px -4723px;
    width: 37px;
    height: 25px
}

.flags-MO, .flags-MAC {
    background-position: -4px -4756px;
    width: 37px;
    height: 25px
}

.flags-MP, .flags-MNP {
    background-position: -4px -4789px;
    width: 37px;
    height: 25px
}

.flags-MQ, .flags-MTQ {
    background-position: -4px -4822px;
    width: 37px;
    height: 25px
}

.flags-MR, .flags-MRT {
    background-position: -4px -4855px;
    width: 37px;
    height: 25px
}

.flags-MS, .flags-MSR {
    background-position: -4px -4888px;
    width: 37px;
    height: 25px
}

.flags-MT, .flags-MLT {
    background-position: -4px -4921px;
    width: 37px;
    height: 25px
}

.flags-MU, .flags-MUS {
    background-position: -4px -4954px;
    width: 37px;
    height: 25px
}

.flags-MV, .flags-MDV {
    background-position: -4px -4987px;
    width: 37px;
    height: 25px
}

.flags-MW, .flags-MWI {
    background-position: -4px -5020px;
    width: 37px;
    height: 25px
}

.flags-MX, .flags-MEX {
    background-position: -4px -5053px;
    width: 37px;
    height: 25px
}

.flags-MY, .flags-MYS {
    background-position: -4px -5086px;
    width: 37px;
    height: 25px
}

.flags-MZ, .flags-MOZ {
    background-position: -4px -5119px;
    width: 37px;
    height: 25px
}

.flags-NA, .flags-NAM {
    background-position: -4px -5152px;
    width: 37px;
    height: 25px
}

.flags-NC, .flags-NCL {
    background-position: -4px -5185px;
    width: 37px;
    height: 25px
}

.flags-NE, .flags-NER {
    background-position: -4px -5218px;
    width: 37px;
    height: 25px
}

.flags-NF, .flags-NFK {
    background-position: -4px -5251px;
    width: 37px;
    height: 25px
}

.flags-NG, .flags-NGA {
    background-position: -4px -5284px;
    width: 37px;
    height: 25px
}

.flags-NI, .flags-NIC {
    background-position: -4px -5317px;
    width: 37px;
    height: 25px
}

.flags-NL, .flags-NLD {
    background-position: -4px -5350px;
    width: 37px;
    height: 25px
}

.flags-NO, .flags-NOR {
    background-position: -4px -5383px;
    width: 37px;
    height: 25px
}

.flags-ZW, .flags-ZWE {
    background-position: -4px -5416px;
    width: 37px;
    height: 25px
}

.flags-NR, .flags-NRU {
    background-position: -4px -5449px;
    width: 37px;
    height: 25px
}

.flags-NU, .flags-NIU {
    background-position: -4px -5482px;
    width: 37px;
    height: 25px
}

.flags-NZ, .flags-NZL {
    background-position: -4px -5515px;
    width: 37px;
    height: 25px
}

.flags-OM, .flags-OMN {
    background-position: -4px -5548px;
    width: 37px;
    height: 25px
}

.flags-PA, .flags-PAN {
    background-position: -4px -5581px;
    width: 37px;
    height: 25px
}

.flags-PE, .flags-PER {
    background-position: -4px -5614px;
    width: 37px;
    height: 25px
}

.flags-PF, .flags-PYF {
    background-position: -4px -5647px;
    width: 37px;
    height: 25px
}

.flags-PG, .flags-PNG {
    background-position: -4px -5680px;
    width: 37px;
    height: 25px
}

.flags-PH, .flags-PHL {
    background-position: -4px -5713px;
    width: 37px;
    height: 25px
}

.flags-PK, .flags-PAK {
    background-position: -4px -5746px;
    width: 37px;
    height: 25px
}

.flags-PL, .flags-POL {
    background-position: -4px -5779px;
    width: 37px;
    height: 25px
}

.flags-PN, .flags-PCN {
    background-position: -4px -5812px;
    width: 37px;
    height: 25px
}

.flags-PR, .flags-PRI {
    background-position: -4px -5845px;
    width: 37px;
    height: 25px
}

.flags-PS, .flags-PSE {
    background-position: -4px -5878px;
    width: 37px;
    height: 25px
}

.flags-PT, .flags-PRT {
    background-position: -4px -5911px;
    width: 37px;
    height: 25px
}

.flags-PW, .flags-PLW {
    background-position: -4px -5944px;
    width: 37px;
    height: 25px
}

.flags-PY, .flags-PRY {
    background-position: -4px -5977px;
    width: 37px;
    height: 25px
}

.flags-QA, .flags-QAT {
    background-position: -4px -6010px;
    width: 37px;
    height: 25px
}

.flags-RO, .flags-ROU {
    background-position: -4px -6043px;
    width: 37px;
    height: 25px
}

.flags-RS, .flags-SRB {
    background-position: -4px -6076px;
    width: 37px;
    height: 25px
}

.flags-RU, .flags-RUS {
    background-position: -4px -6109px;
    width: 37px;
    height: 25px
}

.flags-RW, .flags-RWA {
    background-position: -4px -6142px;
    width: 37px;
    height: 25px
}

.flags-SA, .flags-SAU {
    background-position: -4px -6175px;
    width: 37px;
    height: 25px
}

.flags-SB, .flags-SLB {
    background-position: -4px -6208px;
    width: 37px;
    height: 25px
}

.flags-SC, .flags-SYC {
    background-position: -4px -6241px;
    width: 37px;
    height: 25px
}

.flags-SD, .flags-SDN {
    background-position: -4px -6274px;
    width: 37px;
    height: 25px
}

.flags-SE, .flags-SWE {
    background-position: -4px -6307px;
    width: 37px;
    height: 25px
}

.flags-SG, .flags-SGP {
    background-position: -4px -6340px;
    width: 37px;
    height: 25px
}

.flags-SH, .flags-SHN {
    background-position: -4px -6373px;
    width: 37px;
    height: 25px
}

.flags-SI, .flags-SVN {
    background-position: -4px -6406px;
    width: 37px;
    height: 25px
}

.flags-SK, .flags-SVK {
    background-position: -4px -6439px;
    width: 37px;
    height: 25px
}

.flags-SL, .flags-SLE {
    background-position: -4px -6472px;
    width: 37px;
    height: 25px
}

.flags-SM, .flags-SMR {
    background-position: -4px -6505px;
    width: 37px;
    height: 25px
}

.flags-SN, .flags-SEN {
    background-position: -4px -6538px;
    width: 37px;
    height: 25px
}

.flags-SO, .flags-SOM {
    background-position: -4px -6571px;
    width: 37px;
    height: 25px
}

.flags-SR, .flags-SUR {
    background-position: -4px -6604px;
    width: 37px;
    height: 25px
}

.flags-SS {
    background-position: -4px -6637px;
    width: 37px;
    height: 25px
}

.flags-ST, .flags-STP {
    background-position: -4px -6670px;
    width: 37px;
    height: 25px
}

.flags-SV, .flags-SLV {
    background-position: -4px -6703px;
    width: 37px;
    height: 25px
}

.flags-SY, .flags-SYR {
    background-position: -4px -6736px;
    width: 37px;
    height: 25px
}

.flags-SZ, .flags-SWZ {
    background-position: -4px -6769px;
    width: 37px;
    height: 25px
}

.flags-TC, .flags-TCA {
    background-position: -4px -6802px;
    width: 37px;
    height: 25px
}

.flags-TD, .flags-TCD {
    background-position: -4px -6835px;
    width: 37px;
    height: 25px
}

.flags-TF, .flags-ATF {
    background-position: -4px -6868px;
    width: 37px;
    height: 25px
}

.flags-TG, .flags-TGO {
    background-position: -4px -6901px;
    width: 37px;
    height: 25px
}

.flags-TH, .flags-THA {
    background-position: -4px -6934px;
    width: 37px;
    height: 25px
}

.flags-TJ, .flags-TJK {
    background-position: -4px -6967px;
    width: 37px;
    height: 25px
}

.flags-TK, .flags-TKL {
    background-position: -4px -7000px;
    width: 37px;
    height: 25px
}

.flags-TL, .flags-TLS {
    background-position: -4px -7033px;
    width: 37px;
    height: 25px
}

.flags-TM, .flags-TKM {
    background-position: -4px -7066px;
    width: 37px;
    height: 25px
}

.flags-TN, .flags-TUN {
    background-position: -4px -7099px;
    width: 37px;
    height: 25px
}

.flags-TO, .flags-TON {
    background-position: -4px -7132px;
    width: 37px;
    height: 25px
}

.flags-TR, .flags-TUR {
    background-position: -4px -7165px;
    width: 37px;
    height: 25px
}

.flags-TT, .flags-TTO {
    background-position: -4px -7198px;
    width: 37px;
    height: 25px
}

.flags-TV, .flags-TUV {
    background-position: -4px -7231px;
    width: 37px;
    height: 25px
}

.flags-TW, .flags-TWN {
    background-position: -4px -7264px;
    width: 37px;
    height: 25px
}

.flags-TZ, .flags-TZA {
    background-position: -4px -7297px;
    width: 37px;
    height: 25px
}

.flags-UA, .flags-UKR {
    background-position: -4px -7330px;
    width: 37px;
    height: 25px
}

.flags-UG, .flags-UGA {
    background-position: -4px -7363px;
    width: 37px;
    height: 25px
}

.flags-US, .flags-USA {
    background-position: -4px -7396px;
    width: 37px;
    height: 25px
}

.flags-UY, .flags-URY {
    background-position: -4px -7429px;
    width: 37px;
    height: 25px
}

.flags-UZ, .flags-UZB {
    background-position: -4px -7462px;
    width: 37px;
    height: 25px
}

.flags-VA, .flags-VAT {
    background-position: -4px -7495px;
    width: 25px;
    height: 25px
}

.flags-VC, .flags-VCT {
    background-position: -4px -7528px;
    width: 37px;
    height: 25px
}

.flags-VE, .flags-VEN {
    background-position: -4px -7561px;
    width: 37px;
    height: 25px
}

.flags-VG, .flags-VGB {
    background-position: -4px -7594px;
    width: 37px;
    height: 25px
}

.flags-VI, .flags-VIR {
    background-position: -4px -7627px;
    width: 37px;
    height: 25px
}

.flags-VN, .flags-VNM {
    background-position: -4px -7660px;
    width: 37px;
    height: 25px
}

.flags-VU, .flags-VUT {
    background-position: -4px -7693px;
    width: 37px;
    height: 25px
}

.flags-WF, .flags-WLF {
    background-position: -4px -7726px;
    width: 37px;
    height: 25px
}

.flags-WS, .flags-WSM {
    background-position: -4px -7759px;
    width: 37px;
    height: 25px
}

.flags-YE, .flags-YEM {
    background-position: -4px -7792px;
    width: 37px;
    height: 25px
}

.flags-YT, .flags-MYT {
    background-position: -4px -7825px;
    width: 37px;
    height: 25px
}

.flags-ZA, .flags-ZAF {
    background-position: -4px -7858px;
    width: 37px;
    height: 25px
}

.flags-ZM, .flags-ZMB {
    background-position: -4px -7891px;
    width: 37px;
    height: 25px
}

.flags-unknown {
    background-position: -4px -7924px;
    width: 35px;
    height: 25px
}

.flags-NP, .flags-NPL {
    background-position: -4px -7957px;
    width: 26px;
    height: 32px
}

.flags-sm {
    background-image: url("images/flags-sm.png")
}

.flags-sm-KZ, .flags-sm-KAZ {
    background-position: -4px -4px;
    width: 20px;
    height: 14px
}

.flags-sm-AD, .flags-sm-AND {
    background-position: -4px -26px;
    width: 20px;
    height: 14px
}

.flags-sm-AF, .flags-sm-AFG {
    background-position: -4px -48px;
    width: 20px;
    height: 14px
}

.flags-sm-AG, .flags-sm-ATG {
    background-position: -4px -70px;
    width: 20px;
    height: 14px
}

.flags-sm-AI, .flags-sm-AIA {
    background-position: -4px -92px;
    width: 20px;
    height: 14px
}

.flags-sm-AL, .flags-sm-ALB {
    background-position: -4px -114px;
    width: 20px;
    height: 14px
}

.flags-sm-AM, .flags-sm-ARM {
    background-position: -4px -136px;
    width: 20px;
    height: 14px
}

.flags-sm-AN, .flags-sm-ANT {
    background-position: -4px -158px;
    width: 20px;
    height: 14px
}

.flags-sm-AO, .flags-sm-AGO {
    background-position: -4px -180px;
    width: 20px;
    height: 14px
}

.flags-sm-AQ, .flags-sm-ATA {
    background-position: -4px -202px;
    width: 20px;
    height: 14px
}

.flags-sm-AR, .flags-sm-ARG {
    background-position: -4px -224px;
    width: 20px;
    height: 14px
}

.flags-sm-AS, .flags-sm-ASM {
    background-position: -4px -246px;
    width: 20px;
    height: 14px
}

.flags-sm-AT, .flags-sm-AUT {
    background-position: -4px -268px;
    width: 20px;
    height: 14px
}

.flags-sm-AU, .flags-sm-AUS {
    background-position: -4px -290px;
    width: 20px;
    height: 14px
}

.flags-sm-AW, .flags-sm-ABW {
    background-position: -4px -312px;
    width: 20px;
    height: 14px
}

.flags-sm-AX, .flags-sm-ALA {
    background-position: -4px -334px;
    width: 20px;
    height: 14px
}

.flags-sm-AZ, .flags-sm-AZE {
    background-position: -4px -356px;
    width: 20px;
    height: 14px
}

.flags-sm-BA, .flags-sm-BIH {
    background-position: -4px -378px;
    width: 20px;
    height: 14px
}

.flags-sm-BB, .flags-sm-BRB {
    background-position: -4px -400px;
    width: 20px;
    height: 14px
}

.flags-sm-BD, .flags-sm-BGD {
    background-position: -4px -422px;
    width: 20px;
    height: 14px
}

.flags-sm-BE, .flags-sm-BEL {
    background-position: -4px -444px;
    width: 20px;
    height: 14px
}

.flags-sm-BF, .flags-sm-BFA {
    background-position: -4px -466px;
    width: 20px;
    height: 14px
}

.flags-sm-BG, .flags-sm-BGR {
    background-position: -4px -488px;
    width: 20px;
    height: 14px
}

.flags-sm-BH, .flags-sm-BHR {
    background-position: -4px -510px;
    width: 20px;
    height: 14px
}

.flags-sm-BI, .flags-sm-BDI {
    background-position: -4px -532px;
    width: 20px;
    height: 14px
}

.flags-sm-BJ, .flags-sm-BEN {
    background-position: -4px -554px;
    width: 20px;
    height: 14px
}

.flags-sm-BL {
    background-position: -4px -576px;
    width: 20px;
    height: 14px
}

.flags-sm-BM, .flags-sm-BMU {
    background-position: -4px -598px;
    width: 20px;
    height: 14px
}

.flags-sm-BN, .flags-sm-BRN {
    background-position: -4px -620px;
    width: 20px;
    height: 14px
}

.flags-sm-BO, .flags-sm-BOL {
    background-position: -4px -642px;
    width: 20px;
    height: 14px
}

.flags-sm-BR, .flags-sm-BRA {
    background-position: -4px -664px;
    width: 20px;
    height: 14px
}

.flags-sm-BS, .flags-sm-BHS {
    background-position: -4px -686px;
    width: 20px;
    height: 14px
}

.flags-sm-BT, .flags-sm-BTN {
    background-position: -4px -708px;
    width: 20px;
    height: 14px
}

.flags-sm-BW, .flags-sm-BWA {
    background-position: -4px -730px;
    width: 20px;
    height: 14px
}

.flags-sm-BY, .flags-sm-BLR {
    background-position: -4px -752px;
    width: 20px;
    height: 14px
}

.flags-sm-BZ, .flags-sm-BLZ {
    background-position: -4px -774px;
    width: 20px;
    height: 14px
}

.flags-sm-CA, .flags-sm-CAN {
    background-position: -4px -796px;
    width: 20px;
    height: 14px
}

.flags-sm-CC, .flags-sm-CCK {
    background-position: -4px -818px;
    width: 20px;
    height: 14px
}

.flags-sm-CD, .flags-sm-COD {
    background-position: -4px -840px;
    width: 20px;
    height: 14px
}

.flags-sm-CF, .flags-sm-CAF {
    background-position: -4px -862px;
    width: 20px;
    height: 14px
}

.flags-sm-CG, .flags-sm-COG {
    background-position: -4px -884px;
    width: 20px;
    height: 14px
}

.flags-sm-CH, .flags-sm-CHE {
    background-position: -4px -906px;
    width: 20px;
    height: 14px
}

.flags-sm-CI, .flags-sm-CIV {
    background-position: -4px -928px;
    width: 20px;
    height: 14px
}

.flags-sm-CK, .flags-sm-COK {
    background-position: -4px -950px;
    width: 20px;
    height: 14px
}

.flags-sm-CL, .flags-sm-CHL {
    background-position: -4px -972px;
    width: 20px;
    height: 14px
}

.flags-sm-CM, .flags-sm-CMR {
    background-position: -4px -994px;
    width: 20px;
    height: 14px
}

.flags-sm-CN, .flags-sm-CHN {
    background-position: -4px -1016px;
    width: 20px;
    height: 14px
}

.flags-sm-CO, .flags-sm-COL {
    background-position: -4px -1038px;
    width: 20px;
    height: 14px
}

.flags-sm-CR, .flags-sm-CRI {
    background-position: -4px -1060px;
    width: 20px;
    height: 14px
}

.flags-sm-CU, .flags-sm-CUB {
    background-position: -4px -1082px;
    width: 20px;
    height: 14px
}

.flags-sm-CV, .flags-sm-CPV {
    background-position: -4px -1104px;
    width: 20px;
    height: 14px
}

.flags-sm-CW {
    background-position: -4px -1126px;
    width: 20px;
    height: 14px
}

.flags-sm-CX, .flags-sm-CXR {
    background-position: -4px -1148px;
    width: 20px;
    height: 14px
}

.flags-sm-CY, .flags-sm-CYP {
    background-position: -4px -1170px;
    width: 20px;
    height: 14px
}

.flags-sm-CZ, .flags-sm-CZE {
    background-position: -4px -1192px;
    width: 20px;
    height: 14px
}

.flags-sm-DE, .flags-sm-DEU {
    background-position: -4px -1214px;
    width: 20px;
    height: 14px
}

.flags-sm-DJ, .flags-sm-DJI {
    background-position: -4px -1236px;
    width: 20px;
    height: 14px
}

.flags-sm-DK, .flags-sm-DNK {
    background-position: -4px -1258px;
    width: 20px;
    height: 14px
}

.flags-sm-DM, .flags-sm-DMA {
    background-position: -4px -1280px;
    width: 20px;
    height: 14px
}

.flags-sm-DO, .flags-sm-DOM {
    background-position: -4px -1302px;
    width: 20px;
    height: 14px
}

.flags-sm-DZ, .flags-sm-DZA {
    background-position: -4px -1324px;
    width: 20px;
    height: 14px
}

.flags-sm-EC, .flags-sm-ECU {
    background-position: -4px -1346px;
    width: 20px;
    height: 14px
}

.flags-sm-EE, .flags-sm-EST {
    background-position: -4px -1368px;
    width: 20px;
    height: 14px
}

.flags-sm-EG, .flags-sm-EGY {
    background-position: -4px -1390px;
    width: 20px;
    height: 14px
}

.flags-sm-EH, .flags-sm-ESH {
    background-position: -4px -1412px;
    width: 20px;
    height: 14px
}

.flags-sm-ER, .flags-sm-ERI {
    background-position: -4px -1434px;
    width: 20px;
    height: 14px
}

.flags-sm-ES, .flags-sm-ESP {
    background-position: -4px -1456px;
    width: 20px;
    height: 14px
}

.flags-sm-ET, .flags-sm-ETH {
    background-position: -4px -1478px;
    width: 20px;
    height: 14px
}

.flags-sm-EU {
    background-position: -4px -1500px;
    width: 20px;
    height: 14px
}

.flags-sm-FI, .flags-sm-FIN {
    background-position: -4px -1522px;
    width: 20px;
    height: 14px
}

.flags-sm-FJ, .flags-sm-FJI {
    background-position: -4px -1544px;
    width: 20px;
    height: 14px
}

.flags-sm-FK, .flags-sm-FLK {
    background-position: -4px -1566px;
    width: 20px;
    height: 14px
}

.flags-sm-FM, .flags-sm-FSM {
    background-position: -4px -1588px;
    width: 20px;
    height: 14px
}

.flags-sm-FO, .flags-sm-FRO {
    background-position: -4px -1610px;
    width: 20px;
    height: 14px
}

.flags-sm-FR, .flags-sm-FRA {
    background-position: -4px -1632px;
    width: 20px;
    height: 14px
}

.flags-sm-GA, .flags-sm-GAB {
    background-position: -4px -1654px;
    width: 20px;
    height: 14px
}

.flags-sm-GB, .flags-sm-GBR {
    background-position: -4px -1676px;
    width: 20px;
    height: 14px
}

.flags-sm-GD, .flags-sm-GRD {
    background-position: -4px -1698px;
    width: 20px;
    height: 14px
}

.flags-sm-GE, .flags-sm-GEO {
    background-position: -4px -1720px;
    width: 20px;
    height: 14px
}

.flags-sm-GG {
    background-position: -4px -1742px;
    width: 20px;
    height: 14px
}

.flags-sm-GH, .flags-sm-GHA {
    background-position: -4px -1764px;
    width: 20px;
    height: 14px
}

.flags-sm-GI, .flags-sm-GIB {
    background-position: -4px -1786px;
    width: 20px;
    height: 14px
}

.flags-sm-GL, .flags-sm-GRL {
    background-position: -4px -1808px;
    width: 20px;
    height: 14px
}

.flags-sm-GM, .flags-sm-GMB {
    background-position: -4px -1830px;
    width: 20px;
    height: 14px
}

.flags-sm-GN, .flags-sm-GIN {
    background-position: -4px -1852px;
    width: 20px;
    height: 14px
}

.flags-sm-GQ, .flags-sm-GNQ {
    background-position: -4px -1874px;
    width: 20px;
    height: 14px
}

.flags-sm-GR, .flags-sm-GRC {
    background-position: -4px -1896px;
    width: 20px;
    height: 14px
}

.flags-sm-GS, .flags-sm-SGS {
    background-position: -4px -1918px;
    width: 20px;
    height: 14px
}

.flags-sm-GT, .flags-sm-GTM {
    background-position: -4px -1940px;
    width: 20px;
    height: 14px
}

.flags-sm-GU, .flags-sm-GUM {
    background-position: -4px -1962px;
    width: 20px;
    height: 14px
}

.flags-sm-GW, .flags-sm-GNB {
    background-position: -4px -1984px;
    width: 20px;
    height: 14px
}

.flags-sm-GY, .flags-sm-GUY {
    background-position: -4px -2006px;
    width: 20px;
    height: 14px
}

.flags-sm-HK, .flags-sm-HKG {
    background-position: -4px -2028px;
    width: 20px;
    height: 14px
}

.flags-sm-HN, .flags-sm-HND {
    background-position: -4px -2050px;
    width: 20px;
    height: 14px
}

.flags-sm-HR, .flags-sm-HRV {
    background-position: -4px -2072px;
    width: 20px;
    height: 14px
}

.flags-sm-HT, .flags-sm-HTI {
    background-position: -4px -2094px;
    width: 20px;
    height: 14px
}

.flags-sm-HU, .flags-sm-HUN {
    background-position: -4px -2116px;
    width: 20px;
    height: 14px
}

.flags-sm-IC {
    background-position: -4px -2138px;
    width: 20px;
    height: 14px
}

.flags-sm-ID, .flags-sm-IDN {
    background-position: -4px -2160px;
    width: 20px;
    height: 14px
}

.flags-sm-IE, .flags-sm-IRL {
    background-position: -4px -2182px;
    width: 20px;
    height: 14px
}

.flags-sm-IL, .flags-sm-ISR {
    background-position: -4px -2204px;
    width: 20px;
    height: 14px
}

.flags-sm-IM {
    background-position: -4px -2226px;
    width: 20px;
    height: 14px
}

.flags-sm-IN, .flags-sm-IND {
    background-position: -4px -2248px;
    width: 20px;
    height: 14px
}

.flags-sm-IQ, .flags-sm-IRQ {
    background-position: -4px -2270px;
    width: 20px;
    height: 14px
}

.flags-sm-IR, .flags-sm-IRN {
    background-position: -4px -2292px;
    width: 20px;
    height: 14px
}

.flags-sm-IS, .flags-sm-ISL {
    background-position: -4px -2314px;
    width: 20px;
    height: 14px
}

.flags-sm-IT, .flags-sm-ITA {
    background-position: -4px -2336px;
    width: 20px;
    height: 14px
}

.flags-sm-JE {
    background-position: -4px -2358px;
    width: 20px;
    height: 14px
}

.flags-sm-JM, .flags-sm-JAM {
    background-position: -4px -2380px;
    width: 20px;
    height: 14px
}

.flags-sm-JO, .flags-sm-JOR {
    background-position: -4px -2402px;
    width: 20px;
    height: 14px
}

.flags-sm-JP, .flags-sm-JPN {
    background-position: -4px -2424px;
    width: 20px;
    height: 14px
}

.flags-sm-KE, .flags-sm-KEN {
    background-position: -4px -2446px;
    width: 20px;
    height: 14px
}

.flags-sm-KG, .flags-sm-KGZ {
    background-position: -4px -2468px;
    width: 20px;
    height: 14px
}

.flags-sm-KH, .flags-sm-KHM {
    background-position: -4px -2490px;
    width: 20px;
    height: 14px
}

.flags-sm-KI, .flags-sm-KIR {
    background-position: -4px -2512px;
    width: 20px;
    height: 14px
}

.flags-sm-KM, .flags-sm-COM {
    background-position: -4px -2534px;
    width: 20px;
    height: 14px
}

.flags-sm-KN, .flags-sm-KNA {
    background-position: -4px -2556px;
    width: 20px;
    height: 14px
}

.flags-sm-KP, .flags-sm-PRK {
    background-position: -4px -2578px;
    width: 20px;
    height: 14px
}

.flags-sm-KR, .flags-sm-KOR {
    background-position: -4px -2600px;
    width: 20px;
    height: 14px
}

.flags-sm-KW, .flags-sm-KWT {
    background-position: -4px -2622px;
    width: 20px;
    height: 14px
}

.flags-sm-KY, .flags-sm-CYM {
    background-position: -4px -2644px;
    width: 20px;
    height: 14px
}

.flags-sm-AE, .flags-sm-ARE {
    background-position: -4px -2666px;
    width: 20px;
    height: 14px
}

.flags-sm-LA, .flags-sm-LAO {
    background-position: -4px -2688px;
    width: 20px;
    height: 14px
}

.flags-sm-LB, .flags-sm-LBN {
    background-position: -4px -2710px;
    width: 20px;
    height: 14px
}

.flags-sm-LC, .flags-sm-LCA {
    background-position: -4px -2732px;
    width: 20px;
    height: 14px
}

.flags-sm-LI, .flags-sm-LIE {
    background-position: -4px -2754px;
    width: 20px;
    height: 14px
}

.flags-sm-LK, .flags-sm-LKA {
    background-position: -4px -2776px;
    width: 20px;
    height: 14px
}

.flags-sm-LR, .flags-sm-LBR {
    background-position: -4px -2798px;
    width: 20px;
    height: 14px
}

.flags-sm-LS, .flags-sm-LSO {
    background-position: -4px -2820px;
    width: 20px;
    height: 14px
}

.flags-sm-LT, .flags-sm-LTU {
    background-position: -4px -2842px;
    width: 20px;
    height: 14px
}

.flags-sm-LU, .flags-sm-LUX {
    background-position: -4px -2864px;
    width: 20px;
    height: 14px
}

.flags-sm-LV, .flags-sm-LVA {
    background-position: -4px -2886px;
    width: 20px;
    height: 14px
}

.flags-sm-LY, .flags-sm-LBY {
    background-position: -4px -2908px;
    width: 20px;
    height: 14px
}

.flags-sm-MA, .flags-sm-MAR {
    background-position: -4px -2930px;
    width: 20px;
    height: 14px
}

.flags-sm-MC, .flags-sm-MCO {
    background-position: -4px -2952px;
    width: 20px;
    height: 14px
}

.flags-sm-MD, .flags-sm-MDA {
    background-position: -4px -2974px;
    width: 20px;
    height: 14px
}

.flags-sm-ME {
    background-position: -4px -2996px;
    width: 20px;
    height: 14px
}

.flags-sm-MF {
    background-position: -4px -3018px;
    width: 20px;
    height: 14px
}

.flags-sm-MG, .flags-sm-MDG {
    background-position: -4px -3040px;
    width: 20px;
    height: 14px
}

.flags-sm-MH, .flags-sm-MHL {
    background-position: -4px -3062px;
    width: 20px;
    height: 14px
}

.flags-sm-MK, .flags-sm-MKD {
    background-position: -4px -3084px;
    width: 20px;
    height: 14px
}

.flags-sm-ML, .flags-sm-MLI {
    background-position: -4px -3106px;
    width: 20px;
    height: 14px
}

.flags-sm-MM, .flags-sm-MMR {
    background-position: -4px -3128px;
    width: 20px;
    height: 14px
}

.flags-sm-MN, .flags-sm-MNG {
    background-position: -4px -3150px;
    width: 20px;
    height: 14px
}

.flags-sm-MO, .flags-sm-MAC {
    background-position: -4px -3172px;
    width: 20px;
    height: 14px
}

.flags-sm-MP, .flags-sm-MNP {
    background-position: -4px -3194px;
    width: 20px;
    height: 14px
}

.flags-sm-MQ, .flags-sm-MTQ {
    background-position: -4px -3216px;
    width: 20px;
    height: 14px
}

.flags-sm-MR, .flags-sm-MRT {
    background-position: -4px -3238px;
    width: 20px;
    height: 14px
}

.flags-sm-MS, .flags-sm-MSR {
    background-position: -4px -3260px;
    width: 20px;
    height: 14px
}

.flags-sm-MT, .flags-sm-MLT {
    background-position: -4px -3282px;
    width: 20px;
    height: 14px
}

.flags-sm-MU, .flags-sm-MUS {
    background-position: -4px -3304px;
    width: 20px;
    height: 14px
}

.flags-sm-MV, .flags-sm-MDV {
    background-position: -4px -3326px;
    width: 20px;
    height: 14px
}

.flags-sm-MW, .flags-sm-MWI {
    background-position: -4px -3348px;
    width: 20px;
    height: 14px
}

.flags-sm-MX, .flags-sm-MEX {
    background-position: -4px -3370px;
    width: 20px;
    height: 14px
}

.flags-sm-MY, .flags-sm-MYS {
    background-position: -4px -3392px;
    width: 20px;
    height: 14px
}

.flags-sm-MZ, .flags-sm-MOZ {
    background-position: -4px -3414px;
    width: 20px;
    height: 14px
}

.flags-sm-NA, .flags-sm-NAM {
    background-position: -4px -3436px;
    width: 20px;
    height: 14px
}

.flags-sm-NC, .flags-sm-NCL {
    background-position: -4px -3458px;
    width: 20px;
    height: 14px
}

.flags-sm-NE, .flags-sm-NER {
    background-position: -4px -3480px;
    width: 20px;
    height: 14px
}

.flags-sm-NF, .flags-sm-NFK {
    background-position: -4px -3502px;
    width: 20px;
    height: 14px
}

.flags-sm-NG, .flags-sm-NGA {
    background-position: -4px -3524px;
    width: 20px;
    height: 14px
}

.flags-sm-NI, .flags-sm-NIC {
    background-position: -4px -3546px;
    width: 20px;
    height: 14px
}

.flags-sm-NL, .flags-sm-NLD {
    background-position: -4px -3568px;
    width: 20px;
    height: 14px
}

.flags-sm-NO, .flags-sm-NOR {
    background-position: -4px -3590px;
    width: 20px;
    height: 14px
}

.flags-sm-ZW, .flags-sm-ZWE {
    background-position: -4px -3612px;
    width: 20px;
    height: 14px
}

.flags-sm-NR, .flags-sm-NRU {
    background-position: -4px -3634px;
    width: 20px;
    height: 14px
}

.flags-sm-NU, .flags-sm-NIU {
    background-position: -4px -3656px;
    width: 20px;
    height: 14px
}

.flags-sm-NZ, .flags-sm-NZL {
    background-position: -4px -3678px;
    width: 20px;
    height: 14px
}

.flags-sm-OM, .flags-sm-OMN {
    background-position: -4px -3700px;
    width: 20px;
    height: 14px
}

.flags-sm-PA, .flags-sm-PAN {
    background-position: -4px -3722px;
    width: 20px;
    height: 14px
}

.flags-sm-PE, .flags-sm-PER {
    background-position: -4px -3744px;
    width: 20px;
    height: 14px
}

.flags-sm-PF, .flags-sm-PYF {
    background-position: -4px -3766px;
    width: 20px;
    height: 14px
}

.flags-sm-PG, .flags-sm-PNG {
    background-position: -4px -3788px;
    width: 20px;
    height: 14px
}

.flags-sm-PH, .flags-sm-PHL {
    background-position: -4px -3810px;
    width: 20px;
    height: 14px
}

.flags-sm-PK, .flags-sm-PAK {
    background-position: -4px -3832px;
    width: 20px;
    height: 14px
}

.flags-sm-PL, .flags-sm-POL {
    background-position: -4px -3854px;
    width: 20px;
    height: 14px
}

.flags-sm-PN, .flags-sm-PCN {
    background-position: -4px -3876px;
    width: 20px;
    height: 14px
}

.flags-sm-PR, .flags-sm-PRI {
    background-position: -4px -3898px;
    width: 20px;
    height: 14px
}

.flags-sm-PS, .flags-sm-PSE {
    background-position: -4px -3920px;
    width: 20px;
    height: 14px
}

.flags-sm-PT, .flags-sm-PRT {
    background-position: -4px -3942px;
    width: 20px;
    height: 14px
}

.flags-sm-PW, .flags-sm-PLW {
    background-position: -4px -3964px;
    width: 20px;
    height: 14px
}

.flags-sm-PY, .flags-sm-PRY {
    background-position: -4px -3986px;
    width: 20px;
    height: 14px
}

.flags-sm-QA, .flags-sm-QAT {
    background-position: -4px -4008px;
    width: 20px;
    height: 14px
}

.flags-sm-RO, .flags-sm-ROU {
    background-position: -4px -4030px;
    width: 20px;
    height: 14px
}

.flags-sm-RS, .flags-sm-SRB {
    background-position: -4px -4052px;
    width: 20px;
    height: 14px
}

.flags-sm-RU, .flags-sm-RUS {
    background-position: -4px -4074px;
    width: 20px;
    height: 14px
}

.flags-sm-RW, .flags-sm-RWA {
    background-position: -4px -4096px;
    width: 20px;
    height: 14px
}

.flags-sm-SA, .flags-sm-SAU {
    background-position: -4px -4118px;
    width: 20px;
    height: 14px
}

.flags-sm-SB, .flags-sm-SLB {
    background-position: -4px -4140px;
    width: 20px;
    height: 14px
}

.flags-sm-SC, .flags-sm-SYC {
    background-position: -4px -4162px;
    width: 20px;
    height: 14px
}

.flags-sm-SD, .flags-sm-SDN {
    background-position: -4px -4184px;
    width: 20px;
    height: 14px
}

.flags-sm-SE, .flags-sm-SWE {
    background-position: -4px -4206px;
    width: 20px;
    height: 14px
}

.flags-sm-SG, .flags-sm-SGP {
    background-position: -4px -4228px;
    width: 20px;
    height: 14px
}

.flags-sm-SH, .flags-sm-SHN {
    background-position: -4px -4250px;
    width: 20px;
    height: 14px
}

.flags-sm-SI, .flags-sm-SVN {
    background-position: -4px -4272px;
    width: 20px;
    height: 14px
}

.flags-sm-SK, .flags-sm-SVK {
    background-position: -4px -4294px;
    width: 20px;
    height: 14px
}

.flags-sm-SL, .flags-sm-SLE {
    background-position: -4px -4316px;
    width: 20px;
    height: 14px
}

.flags-sm-SM, .flags-sm-SMR {
    background-position: -4px -4338px;
    width: 20px;
    height: 14px
}

.flags-sm-SN, .flags-sm-SEN {
    background-position: -4px -4360px;
    width: 20px;
    height: 14px
}

.flags-sm-SO, .flags-sm-SOM {
    background-position: -4px -4382px;
    width: 20px;
    height: 14px
}

.flags-sm-SR, .flags-sm-SUR {
    background-position: -4px -4404px;
    width: 20px;
    height: 14px
}

.flags-sm-SS {
    background-position: -4px -4426px;
    width: 20px;
    height: 14px
}

.flags-sm-ST, .flags-sm-STP {
    background-position: -4px -4448px;
    width: 20px;
    height: 14px
}

.flags-sm-SV, .flags-sm-SLV {
    background-position: -4px -4470px;
    width: 20px;
    height: 14px
}

.flags-sm-SY, .flags-sm-SYR {
    background-position: -4px -4492px;
    width: 20px;
    height: 14px
}

.flags-sm-SZ, .flags-sm-SWZ {
    background-position: -4px -4514px;
    width: 20px;
    height: 14px
}

.flags-sm-TC, .flags-sm-TCA {
    background-position: -4px -4536px;
    width: 20px;
    height: 14px
}

.flags-sm-TD, .flags-sm-TCD {
    background-position: -4px -4558px;
    width: 20px;
    height: 14px
}

.flags-sm-TF, .flags-sm-ATF {
    background-position: -4px -4580px;
    width: 20px;
    height: 14px
}

.flags-sm-TG, .flags-sm-TGO {
    background-position: -4px -4602px;
    width: 20px;
    height: 14px
}

.flags-sm-TH, .flags-sm-THA {
    background-position: -4px -4624px;
    width: 20px;
    height: 14px
}

.flags-sm-TJ, .flags-sm-TJK {
    background-position: -4px -4646px;
    width: 20px;
    height: 14px
}

.flags-sm-TK, .flags-sm-TKL {
    background-position: -4px -4668px;
    width: 20px;
    height: 14px
}

.flags-sm-TL, .flags-sm-TLS {
    background-position: -4px -4690px;
    width: 20px;
    height: 14px
}

.flags-sm-TM, .flags-sm-TKM {
    background-position: -4px -4712px;
    width: 20px;
    height: 14px
}

.flags-sm-TN, .flags-sm-TUN {
    background-position: -4px -4734px;
    width: 20px;
    height: 14px
}

.flags-sm-TO, .flags-sm-TON {
    background-position: -4px -4756px;
    width: 20px;
    height: 14px
}

.flags-sm-TR, .flags-sm-TUR {
    background-position: -4px -4778px;
    width: 20px;
    height: 14px
}

.flags-sm-TT, .flags-sm-TTO {
    background-position: -4px -4800px;
    width: 20px;
    height: 14px
}

.flags-sm-TV, .flags-sm-TUV {
    background-position: -4px -4822px;
    width: 20px;
    height: 14px
}

.flags-sm-TW, .flags-sm-TWN {
    background-position: -4px -4844px;
    width: 20px;
    height: 14px
}

.flags-sm-TZ, .flags-sm-TZA {
    background-position: -4px -4866px;
    width: 20px;
    height: 14px
}

.flags-sm-UA, .flags-sm-UKR {
    background-position: -4px -4888px;
    width: 20px;
    height: 14px
}

.flags-sm-UG, .flags-sm-UGA {
    background-position: -4px -4910px;
    width: 20px;
    height: 14px
}

.flags-sm-US, .flags-sm-USA {
    background-position: -4px -4932px;
    width: 20px;
    height: 14px
}

.flags-sm-UY, .flags-sm-URY {
    background-position: -4px -4954px;
    width: 20px;
    height: 14px
}

.flags-sm-UZ, .flags-sm-UZB {
    background-position: -4px -4976px;
    width: 20px;
    height: 14px
}

.flags-sm-ZM, .flags-sm-ZMB {
    background-position: -4px -4998px;
    width: 20px;
    height: 14px
}

.flags-sm-VC, .flags-sm-VCT {
    background-position: -4px -5020px;
    width: 20px;
    height: 14px
}

.flags-sm-VE, .flags-sm-VEN {
    background-position: -4px -5042px;
    width: 20px;
    height: 14px
}

.flags-sm-VG, .flags-sm-VGB {
    background-position: -4px -5064px;
    width: 20px;
    height: 14px
}

.flags-sm-VI, .flags-sm-VIR {
    background-position: -4px -5086px;
    width: 20px;
    height: 14px
}

.flags-sm-VN, .flags-sm-VNM {
    background-position: -4px -5108px;
    width: 20px;
    height: 14px
}

.flags-sm-VU, .flags-sm-VUT {
    background-position: -4px -5130px;
    width: 20px;
    height: 14px
}

.flags-sm-WF, .flags-sm-WLF {
    background-position: -4px -5152px;
    width: 20px;
    height: 14px
}

.flags-sm-WS, .flags-sm-WSM {
    background-position: -4px -5174px;
    width: 20px;
    height: 14px
}

.flags-sm-YE, .flags-sm-YEM {
    background-position: -4px -5196px;
    width: 20px;
    height: 14px
}

.flags-sm-YT, .flags-sm-MYT {
    background-position: -4px -5218px;
    width: 20px;
    height: 14px
}

.flags-sm-ZA, .flags-sm-ZAF {
    background-position: -4px -5240px;
    width: 20px;
    height: 14px
}

.flags-sm-unknown {
    background-position: -4px -5262px;
    width: 20px;
    height: 14px
}

.flags-sm-VA, .flags-sm-VAT {
    background-position: -4px -5284px;
    width: 20px;
    height: 20px
}

.flags-sm-NP, .flags-sm-NPL {
    background-position: -4px -5312px;
    width: 20px;
    height: 25px
}