@c1: #21B43D;

#body, header{width: 1140px; margin: auto; }
.flag{display: inline-block; background-image: url("/img/flags.png")}
.border{border-top: 4px solid #21B43D; padding: 1rem 0;}
.need-translate{transition: opacity .3s ease;}
.horizon-ul{
    >li{float: left; margin-left: 1em;}

    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

header{padding-bottom: 3rem; padding-top: 1rem; font-size: 1.5em;}

#body.top{
    .top-players{
        display: flex; margin-bottom: 1rem;
        .player{
            flex-grow: 1; box-sizing: border-box; padding: 1rem; 
            img{}
            .name{display: inline-block;}
        }
    }

    .full-list{margin-bottom: 3rem;}
}

#body.ranking{
    .header{
        a.active{color: #2FC64C;}
        a:nth-of-type(2){margin-right: 1em;}
    }

    .table{
        margin: 2rem 0; width: 100%;
        border:0;margin:0;border-collapse:collapse;border-spacing:0;
        th,td{height: 36px;}
        td{border-top: 1px solid #999; padding: .5rem 0;}
        .flag{
            margin-right: 0.5rem; transform: translateY(6px);
            box-shadow: 0 0 3px #333;
        }
    }
}

#body.has-common-header{
    #p1,#h2h,#p3{position: relative; z-index: 2;}
    #player-base-info{
        height: 326px; box-sizing: border-box; padding: 1rem;  position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        #avatar{height: 155px; width: 120px; background-repeat: no-repeat; background-size: cover; background-position: center;}
        #ranking{
            .value{font-size: 2.5rem;} 
        }
    
        #name {margin-top: 1rem;}
        #first-name{font-size: 1.2rem;}
        #second-name{font-size: 2rem;}
    
        .data-value{
            ::after{
                content: '';
                display: inline-block;
            }
        }
        #p11{color: #fff; margin-left: 1rem;}
        #h2h{
            float: right; position: relative;
            ul{position: absolute; top: 22px; right: 0; height: 10rem;}
        }
    
        #p3{position: absolute; bottom: 0; width: 100%; left: 0; background-color: rgba(0, 0, 0, .3); padding: 1rem 0;}
        .base-data{
            box-sizing: border-box; width: 20%; float: left; padding: 1rem 0; text-align: center; color: #fff;
            &:not(:first-child){border-left: 1px solid #fff;}
        }
    }
    
    #player-detail-nav{
        position: relative; z-index: 10; display: flex; justify-content: center; transform: translateY(-50%);
        >li{
            padding: 1rem 2rem; background-color: #F9F9F9;
            &.active{
                color: #2FC64C;
                a{cursor: default;}
            }
            &:hover{color: #2FC64C;}
        }
        a{text-decoration: none;}
    }

    .overlay-left{background-image: linear-gradient(to left, transparent 55%, #000 74%); z-index: 1;}
}
// stat
#body.stat{
    #stat-more{
        width: 100%; text-align: center; background-color: #F1F847; padding: 1rem 0;
        th{padding-bottom: 1rem;}
    }

    canvas{margin-top: 3rem;}
}

// bio
#body.bio{
    .part{
        .border;
        h2{margin-bottom: 1rem;}

        h3{margin-bottom: 1rem;}
        p{margin-bottom: 1rem;}
    }
}

// gear
#body.gear{
    .gear-wrapper{overflow: hidden;}
    .gear{
        float: left; width: 33.3%; box-sizing: border-box; padding: 0 1rem;

        .product-pic{
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 257px;
        }
        
        .product-info{background-color: #f9f9f9; padding: 1rem; position: relative; padding-bottom: 5rem;}
        .product-name{font-size: 1.2em; margin-bottom: 1rem;}
        .product-short-summary{}
        .link{position: absolute; margin: auto; bottom: 1rem; left: 50%; transform: translateX(-50%);}
    }
} 

// H2H
#body.h2h{
    #players{position: relative; background-color: #F9F9F9; margin-top: 3rem; height: 38rem;}
    .detail-wrapper{
        .country-flag{position: absolute; right: 0; bottom: 0;}
        .country-link{position: absolute; bottom: 0; z-index: 100;}
        .ranking{
            color: @c1;
            font-size: 2rem;
            .number{
                font-size: 3rem; margin-left: -.6rem;
            }
        }
        .name{
            margin-top: 0.6rem;
            .second{font-weight: 600; font-size: 18px;}
        }
        .avatar{min-height: 153px;}
    }
    #p1-wrapper{
        position: absolute; z-index: 2; left: 0;
        .country-link{left: 0;}
    }
    #p2-wrapper{
        position: absolute; z-index: 2; right: 0;
        .country-link{right: 0;}
    }
    #datas{
        position: absolute; left: 50%; transform: translateX(-50%); width: 100%;
    }

    #h2h-record{
        color: @c1; font-size: 2rem; margin-top: 2rem;
        >span{box-sizing: border-box;}
        .win{width: 50%; text-align: right; padding-right: 1rem;}
        .lose{width: 50%; text-align: left; padding-left: 1rem;}
    }

    #labels{
        width: 100px; text-align: center; top: 6rem; position: absolute; transform: translateX(-50%); left: 50%; background-color: #F1F847; font-size: 0.85rem;
        line-height: 3rem;
    }
    .p-stat{
        width: 50%; box-sizing: border-box; position: absolute; top: 6rem; z-index: 2; line-height: 3rem;
        li{ min-height: 1em;}
    }

    #p1-stat{padding-right: 4rem; text-align: right; left: 0;}
    #p2-stat{padding-left: 4rem; text-align: left; right: 0;}
}

#body.tournaments{
    h2{margin-bottom: 2rem;}
    .tour-cards{min-height: 10rem;}
    .tour-row{/* display: flex; */}
    .tour-item {
        // flex: 1 1 5rem;
        min-height: 10rem;
        display: inline-block;
        width: 33%;
        height: 280px;
        background-image: url('../img/tennis/live-today.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 1rem;
        background-clip: content-box;
        box-sizing: border-box;

        .basic-data{
            position: absolute;
            left: 0; bottom: 0;
            padding: 2rem;
            color: #fff;
            pointer-events: none;
        }

        .name{
            margin-bottom: 1rem;
        }

        .time{
            font-size: 0.8em;
        }
    }

    .overlay{
        position: absolute;
        top: 1rem;
        right: 1rem;
        left: 1rem;
        bottom: 1rem;
        background-image: linear-gradient(to bottom, transparent 45%, #000 130%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
        transition: background-color 0.3s ease-in;

        &:hover{opacity: 0;}
    }
}

#body.tournament{
    #hero{
        height: 326px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        
        .info{
            position: absolute; z-index: 2; top: 100px; left: 40px; color: #fff;
            .status{color: @c1; font-weight: bold;}
            .name{margin: .5rem 0;}
        }

        .overlay-gradient{
            background-image: linear-gradient(to left, transparent 30%, #000 130%);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    .border{margin-top: 2rem;}

    #score-wrapper{
        .fa-spinner-wrapper{display: none;}
        #scores{opacity: 1;}

        &.loading{
            .fa-spinner-wrapper{display: block;}
            #scores{opacity: 0;}
        }
    }

    #days{
        text-align: center;
        .prev, .next{ cursor: pointer;}
    }

    .fa-spinner-wrapper{ text-align: center; margin-top: 2rem; display: none; font-size: 3rem;}

    #scores{
        margin-top: 2rem;
        .score{
            width: 33%; min-height: 2rem; float: left; box-sizing: border-box; padding-right: 1rem; margin-bottom: 2rem;
            .status{width: 33%; background-color: #cecece; text-indent: 1em; height: 2rem; line-height: 2rem; font-size: 1rem;}    
        }
        .players{background-color: #efefef; padding: 0.5rem;}
        .player{
            padding: .5rem 0;  height: 37px;
            .name{margin-left: 1rem;}
            .fa-check{opacity: 0; margin: 0 .5rem;}
            &.is_winner{font-weight: bold; .fa-check{opacity: 1;}}
        }
        .player-score{
            float: right;
            overflow: hidden;
            
            li{float: left; margin-left: 1rem;}
        }
        .box-score{height: 2rem; line-height: 2rem; background-color: #eae8e8; padding-right: 0.5rem;}
    }

    #draw{
        overflow-x: auto; margin-bottom: 2rem;
        .round{
            width: 20rem; position: relative; float: left;
            &:nth-of-type(1){
                .match{position: static;}
            }
            &.final{
                .match{
                    bottom: 0; transform: translateY(61px);
                    .player:last-child{font-weight: bold;}
                }
            }
        }
        .match{
            position: absolute; background-color: #eee; box-sizing: border-box; padding-right: 1rem; margin: 1rem 0; background-clip: content-box; width: 100%;
            
        }
        .player{padding: .5rem 1rem; white-space: nowrap; .name{margin-left: 0.5rem;}}
    }
}