#body,
header {
  width: 1140px;
  margin: auto;
}
.flag {
  display: inline-block;
  background-image: url("/img/flags.png");
}
.border {
  border-top: 4px solid #21B43D;
  padding: 1rem 0;
}
.need-translate {
  transition: opacity .3s ease;
}
.horizon-ul > li {
  float: left;
  margin-left: 1em;
}
.horizon-ul::after {
  content: '';
  display: block;
  clear: both;
}
header {
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-size: 1.5em;
}
#body.top .top-players {
  display: flex;
  margin-bottom: 1rem;
}
#body.top .top-players .player {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
}
#body.top .top-players .player .name {
  display: inline-block;
}
#body.top .full-list {
  margin-bottom: 3rem;
}
#body.ranking .header a.active {
  color: #2FC64C;
}
#body.ranking .header a:nth-of-type(2) {
  margin-right: 1em;
}
#body.ranking .table {
  margin: 2rem 0;
  width: 100%;
  border: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
#body.ranking .table th,
#body.ranking .table td {
  height: 36px;
}
#body.ranking .table td {
  border-top: 1px solid #999;
  padding: .5rem 0;
}
#body.ranking .table .flag {
  margin-right: 0.5rem;
  transform: translateY(6px);
  box-shadow: 0 0 3px #333;
}
#body.has-common-header #p1,
#body.has-common-header #h2h,
#body.has-common-header #p3 {
  position: relative;
  z-index: 2;
}
#body.has-common-header #player-base-info {
  height: 326px;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
}
#body.has-common-header #player-base-info #avatar {
  height: 155px;
  width: 120px;
}
#body.has-common-header #player-base-info #p11 {
  color: #fff;
  margin-left: 1rem;
}
#body.has-common-header #player-base-info #h2h {
  float: right;
  position: relative;
}
#body.has-common-header #player-base-info #h2h ul {
  position: absolute;
  top: 22px;
  right: 0;
  height: 10rem;
}
#body.has-common-header #player-base-info #p3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
}
#body.has-common-header #player-base-info .base-data {
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}
#body.has-common-header #player-base-info .base-data:not(:first-child) {
  border-left: 1px solid #fff;
}
#body.has-common-header #player-detail-nav {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
#body.has-common-header #player-detail-nav > li {
  padding: 1rem 2rem;
  background-color: #F9F9F9;
}
#body.has-common-header #player-detail-nav > li.active {
  color: #2FC64C;
}
#body.has-common-header #player-detail-nav > li.active a {
  cursor: default;
}
#body.has-common-header #player-detail-nav > li:hover {
  color: #2FC64C;
}
#body.has-common-header #player-detail-nav a {
  text-decoration: none;
}
#body.has-common-header .overlay-left {
  background-image: linear-gradient(to left, transparent 55%, #000 74%);
  z-index: 1;
}
#body.stat #stat-more {
  width: 100%;
  text-align: center;
  background-color: #F1F847;
  padding: 1rem 0;
}
#body.stat #stat-more th {
  padding-bottom: 1rem;
}
#body.stat canvas {
  margin-top: 3rem;
}
#body.bio .part {
  border-top: 4px solid #21B43D;
  padding: 1rem 0;
}
#body.bio .part h2 {
  margin-bottom: 1rem;
}
#body.bio .part h3 {
  margin-bottom: 1rem;
}
#body.bio .part p {
  margin-bottom: 1rem;
}
#body.gear .gear-wrapper {
  overflow: hidden;
}
#body.gear .gear {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  padding: 0 1rem;
}
#body.gear .gear .product-pic {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 257px;
}
#body.gear .gear .product-info {
  background-color: #f9f9f9;
  padding: 1rem;
  position: relative;
  padding-bottom: 5rem;
}
#body.gear .gear .product-name {
  font-size: 1.2em;
  margin-bottom: 1rem;
}
#body.gear .gear .link {
  position: absolute;
  margin: auto;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#body.h2h #players {
  position: relative;
  background-color: #F9F9F9;
  margin-top: 3rem;
  height: 38rem;
}
#body.h2h .detail-wrapper .country-flag {
  position: absolute;
  right: 0;
  bottom: 0;
}
#body.h2h .detail-wrapper .country-link {
  position: absolute;
  bottom: 0;
  z-index: 100;
}
#body.h2h .detail-wrapper .ranking {
  color: #21B43D;
  font-size: 2rem;
}
#body.h2h .detail-wrapper .ranking .number {
  font-size: 3rem;
  margin-left: -0.6rem;
}
#body.h2h .detail-wrapper .name {
  margin-top: 0.6rem;
}
#body.h2h .detail-wrapper .name .second {
  font-weight: 600;
  font-size: 18px;
}
#body.h2h #p1-wrapper .country-link {
  left: 0;
}
#body.h2h #p2-wrapper .country-link {
  right: 0;
}
#body.h2h #datas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
#body.h2h #h2h-record {
  color: #21B43D;
  font-size: 2rem;
  margin-top: 2rem;
}
#body.h2h #h2h-record > span {
  box-sizing: border-box;
}
#body.h2h #h2h-record .win {
  width: 50%;
  text-align: right;
  padding-right: 1rem;
}
#body.h2h #h2h-record .lose {
  width: 50%;
  text-align: left;
  padding-left: 1rem;
}
#body.h2h #labels {
  width: 100px;
  text-align: center;
  top: 6rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background-color: #F1F847;
  font-size: 0.85rem;
  line-height: 3rem;
}
#body.h2h .p-stat {
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 6rem;
  z-index: 2;
  line-height: 3rem;
}
#body.h2h .p-stat li {
  min-height: 1em;
}
#body.h2h #p1-stat {
  padding-right: 4rem;
  text-align: right;
  left: 0;
}
#body.h2h #p2-stat {
  padding-left: 4rem;
  text-align: left;
  right: 0;
}
#body.tournaments h2 {
  margin-bottom: 2rem;
}
#body.tournaments .tour-row {
  /* display: flex; */
}
#body.tournaments .tour-item {
  min-height: 10rem;
  display: inline-block;
  width: 33%;
  height: 280px;
  box-shadow: 0 0 1px #333;
  background-image: url('../img/tennis/live-today.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1rem;
  background-clip: content-box;
  box-sizing: border-box;
}
#body.tournaments .tour-item .basic-data {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  color: #fff;
}
#body.tournaments .tour-item .name {
  margin-bottom: 1rem;
}
#body.tournaments .overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  background-image: linear-gradient(to bottom, transparent 45%, #000 130%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
  transition: background-color 0.3s ease-in;
}
